.bundle-card {
	background: #E8D1C0;
	background: rgba(232, 209, 192, 0.87);
	position: relative;
	display: block;
	height: 228px;
	overflow: hidden;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	@media (min-width: 900px) {
		width: 242px;
	}

	>.bundle-image {
		width: 100%;
		height: 100%;
		z-index: 0;
		overflow: hidden;
	}

	.bundle-overlay {
		background-color: rgba(13, 13, 13, 0.36);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		min-height: 64px;
		// mix-blend-mode: multiply;
		border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
		-webkit-border-radius: 0 0 6px 6px;
		transition-duration: .25s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		.bundle-title {
			// line-height: 1.2rem !important;
			position: relative !important;
		}
	}

	.bundle-title {
		font-family: Raleway;
		font-weight: 600;
		font-size: 24px;
		color: var(--light);
		line-height: 32px;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		z-index: 55;
		width: 100%;
		transition-duration: .3s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	&.horiz {
		width: 342px;
		height: 242px;

		@media (max-width: 575.98px) {
			width: 100%;
		}

		.bundle-image {
			// &._even>ul {
			// 	grid-template-columns: 1fr;
			// }

			>ul {
				// grid-template-columns: repeat(3, 1fr);
			}

			&._odd {
				>ul {
					>li {
						&:nth-child(2) {
							grid-area: 2 / 1 / 3 / 2;
						}

						&:nth-child(4) {
							grid-area: 2 / 2 / 3 / 3;
						}
					}
				}
			}
		}
	}

	&:hover {
		.bundle-overlay {
			height: 100%;
			background: #E8D1C0;
			background: rgba($color: #E8D1C0, $alpha: 0.86);
			mix-blend-mode: normal;
			border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;

			.bundle-title {
				line-height: 1.2em;
			}
		}

		.bundle-title {
			// line-height: 228px;
			color: #fff;
		}
	}
}

.bundle-image {
	&._even {
		>ul {
			>li {
				grid-area: 1 / auto / 3 / auto;
			}
		}
	}
	&._odd {
		>ul {
			>li {
				&:nth-child(1) {
					grid-area: 1 / 1 / 2 / 3;
				}

				&:nth-child(3) {
					grid-area: 1 / 3 / 3 / 5;
				}

				&:nth-child(4) {
					display: none;
				}

				img {
					width: 100%;
				}
			}
		}
	}
    
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

	>ul {
		list-style-type: none;
		display: grid;
		height: 100%;
		padding: 0;
		position: relative;
		// grid-template-columns: repeat(4, 25%);
		// grid-template-columns: repeat(4, 1fr);
		grid-template-columns: auto;
		grid-template-rows: 50% 50%;
		width: 100%;
        
		>li {
			position: relative;
			display: block;
			overflow: hidden;

			>img {
				object-fit: cover;
				height: 100%;
			}
		}
	}
}
