.btn.my-btn-primary {
    background: #F77674;
    background: rgba(247, 118, 116, 1);
    border: 1px solid #F77674;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 30px;
    width: initial;
    box-shadow: none;
    outline: none;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    font-family: Trueno;
    font-weight: bold;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    &:hover {
        background: var(--primary87) !important;
    }
    &:active {
        color: var(--primary-dark) !important;
        background: var(--primary12) !important;
    }
    > span {
        font-weight: 300;
        font-style: italic;
    }

    &._small {
        line-height: 13px;
        padding: 0 5px;
        font-size: 12px;
    }

    &.tiny {
        font-size: 7px;
    }

    &.bg-light {
        color: var(--primary);
        // background-color: #fff;
        border-color: #fff;

        &:hover {
            background: var(--light) !important;
            background-color: var(--light) !important;
            color: var(--primary) !important;
        }
        &:active {
            color: var(--primary-dark) !important;
        }
    }

    &.btn-outline {
        background-color: transparent !important;
        color: #F77674;
        color: rgba($color: #F77674, $alpha: 1);
        &:hover {
            background: rgba($color: #F77674, $alpha: 0.54) !important;
            color: inherit;
        }
        &.bg-light {
            color: #fff;
            border-color: #fff;

            &:hover {
                color: #fff;
            }
        }
        &:active {
            color: var(--primary-dark) !important;
        }
        
    }
}

.inline-btn {
	text-decoration: underline;
	font-family: Trueno;
	padding: 0 4px;
	font-style: italic;
	font-size: 11px;
	color: #F77674;
	color: rgb(247, 118, 116);
}

button, [class^='btn'] {
    text-transform: capitalize;
    // text-transform: uppercase;
}