
.cart-items {
    .cart-item {
        background-color: transparent;
        transition: .2s;
        position: relative;

        &:hover, &.active {
            background-color: rgba(232, 209, 192, 0.27);
        }

        &:not(.is_not) {
            &.is_not .card{
                display: none !important;
            }
            .item-overlay {
                display: none !important;
            }
        }

        &.is_not {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgba($color: #fff, $alpha: 0.24);
            box-sizing: border-box;
            
            .item-overlay {
                z-index: $zindex-modal;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .card {
                filter: blur(12px);
                opacity: 0.54;
            }
        }

        .card.d-flex {
            background-color: transparent;
            padding: 8px 31px;
            transition: .2s;

            @media (max-width: 576px) {
                padding: 24px;
            }
            
            &::after {
                content: '';
                position: absolute;
                width: calc(100% - 105px);
                right: 0;
                border-bottom: 1px solid #000;
                opacity: .12;
                bottom: 0;
            }

            .card-action.position-absolute {
                position: absolute;
                right: 12px;
                top: 12px;
                cursor: pointer;
            }
        }


        &.is_not, .card.d-flex {
            padding: 8px 31px;
            transition: .2s;

            @media (max-width: 576px) {
                padding: 24px;
            }
        }
    }
}

.cart-item {
    .yo-cart-item-image {
        height: 148px;
        width: 148px;
        overflow: hidden;
        border-radius: 6px;

        > img {
            border-radius: 6px;
        }
    }

    .yo-cart-item-body {
        .card-title {
            font-size: 18px;
            font-weight: 600;
        }
        
        .card-subtitle {
            font-size: 15px;
            font-weight: normal;
        }
        
        .cart-item-details {
            font-size: 13px;
            opacity: .54;
            font-weight: normal;
            max-height: 38px;
            overflow: hidden;
            
            * {
                margin: 0 !important;
                font: inherit !important;
            }
        }
        
        .card-title, .card-subtitle, .cart-item-details {
            font-family: 'Raleway';
        }
        
    }
    
    .yo-cart-img-border {
        border-radius: 6px;
    }

    &._small {
        .yo-cart-item-image {
            max-height: 64px;
            width: 64px;

            > img {
                border-radius: 0;
            }
        }

        .yo-cart-item-body {
            .card-title {
                font-size: 14px;
            }

            .card-subtitle {
                font-size: 12px;
            }
        }
    }

    &.slide-out {
        transform: translateX(-100vw);
    }
}