.empty-box {
	min-height: 30vh;
	border-radius: 15px;
	margin-bottom: 32px;

	* {
		z-index: 4;
	}

	h1,h2,h3,h4,h5,h6,p {
		color: var(--primary-dark) !important;
	}

	&bg {
		h1,h2,h3,h4,h5,h6,p {
			color: var(--secondary12) !important;
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;
			opacity: 0.54;
			z-index: 0;
		}
	}
}