.yo-cart-icon > span {
	position: absolute;
	font-size: 0.5em;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	font-weight: 200;
	font-family: 'Raleway';
	top: -0.75em;
	/*color:#fff;*/
	line-height: 2em;
}