.navigation-clean-search {
	padding-top: 8px;
	position: relative;
	padding-bottom: 8px;
	color: #333;

	&.navbar {
		.navbar-nav .nav-link {
			padding-left: 0.25rem;
			padding-right: 0.25rem;

			&.my-cart {
				@media (min-width: 768px) {
					font-size: 32px;
					padding-top: 2px;
					padding-bottom: 2px;
				}
			}
		}
	}

	&.navbar-light {
		.navbar-nav .nav-link {
			color: #fff;

			&:hover,
			&:focus {
				color: #fff;
				opacity: 0.78 !important;
				background-color: transparent;
			}
		}

		.user-item {

			&:hover {
				background-color: rgba($color: #e5524f, $alpha: 0.28);
			}

			.user-name,
			.user-name * {
				color: #fff !important;
			}
		}
	}

	.user-item {
		padding-top: 0;
		padding-bottom: 0;
		transition-duration: .2s;
		border-radius: 5px;
		z-index: 5;

		a.user-avatar {
			padding: 3px 15px;
		}

		.user-name {
			margin: 10px 0 0;
		}

		.user-name,
		.user-name * {
			font-weight: 300 !important;
		}

		&.dropdown-toggle {
			cursor: pointer;

			&::after {
				display: none !important;
			}
		}
	}

	.navbar-brand {
		font-weight: bold;
		color: inherit;

		&:hover {
			color: #222;
		}
	}

	.navbar-toggler {
		border-color: #ddd;
		color: #888;

		&:hover,
		&:focus {
			background: none;
		}
	}

	.navbar-collapse,
	.form-inline {
		border-top-color: #ddd;
	}

	+.js-fixedNavbar {
		padding-top: 8px;
		padding-bottom: 8px;
		display: flex;
		z-index: 8;
		background-color: rgba(0, 0, 0, 0.68);
		background-color: rgba($color: #000000, $alpha: 0.68);
		position: absolute;
		top: 0;

		>.js-toggleSearchbar {
			font-size: 24px;
			width: 36px;
		}
	}
}

@media (min-width:768px) {
	/* .navigation-clean-search { */
	/*padding-top:1rem;*/
	/*padding-bottom:1rem;*/
	/* } */
}

nav {

	a:not(.dropdown-item),
	>i {
		font-size: 24px;
		color: #fff;
	}

	.btn-cta,
	.navbar-nav a {
		margin-left: 0;
	}
}

@media (max-width: 967.98px) {
	.navbar-brand {
		margin-right: 28px;
	}
}

@media (max-width: 576px) {
	.navbar-brand {
		margin-right: 8px;
	}
}

@media (min-width: 968px) {
	.navbar-brand {
		margin-right: 68px;
	}
}

.navbar-brand {
	font-size: 24px;
	padding: 0;
	line-height: 52px;
}

@media (min-width: 360px) {

	nav .btn-cta,
	nav .navbar-nav a:not(.dropdown-item) {
		margin-left: 1rem;
	}
}

@media (min-width: 992px) {

	nav .btn-cta,
	nav .navbar-nav a:not(.dropdown-item) {
		margin-left: 2rem;
	}
}

.nav-tabs {
	.nav-link {
		&.is-invalid {
			position: relative;
			color: var(--red);
			text-decoration: underline;

			&::after {
				content: '  *';
				color: inherit;
			}
		}
	}
}

.top-bar {
	color: #495057;
	background: #f8f9fa;
	padding: 1rem;
	font-weight: 300;
	position: relative;
	z-index: 5;
}

.top-bar {
	.dropdown-item {
		font-weight: 300
	}

	.topbar-link {
		color: #495057;
		text-decoration: none
	}

	.topbar-flag {
		margin-right: 10px;
		width: 20px
	}

	.dropdown-menu {
		margin-top: 1.3rem
	}

	.dropdown-toggle {
		color: inherit;
		text-decoration: none;

		&::after {
			margin-left: 5px
		}
	}

	.dropdown-item {
		color: #495057;
		font-weight: 300
	}
}
