.product-card {
	background: #E9D2C1;
	background: rgba(233, 210, 193, 1);
	overflow: hidden;
	position: relative;
	max-width: 360px;
	/* width:234px; */ //the original non-responsive width
	height: 378px;
	border-radius: 0px 0px 16px 16px;
	-moz-border-radius: 0px 0px 16px 16px;
	-webkit-border-radius: 0px 0px 16px 16px;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#000000');
    
    @media (max-width: 900px) {
        height: 418px;
        margin: 0 auto;
    }
    .pr-image {
        border-style: Solid;
        border-color: #B7C6CE;
        border-color: rgba(183, 198, 206, 1);
        border-bottom: 0;
        border-width: 1px;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 220px;
        z-index: 2;
        
        > a {
            z-index: 2;
        }

        img {
            object-fit: cover;
        }
    }

    .pr-title {
        font-family: 'Raleway';
        white-space: nowrap;
        text-align: left;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        color: rgb(0, 0, 0);
    }

    .pr-price {
        font-family: 'Raleway';
        font-size: 1.25em;
        color: #A9514D;
        color: rgb(169, 81, 77);
        margin: 0;
        opacity: 0.78;
        filter: alpha(opacity=78) progid:DXImageTransform.Microsoft.Alpha(opacity=78);
    }

    .pr-about {
        font-family: 'Raleway';
        // font-style: italic;
        font-size: 13px;
        color: #000000;
        // font-weight: 300;
        color: rgb(0, 0, 0);
        // line-height: 11px;
        max-height: 33px;
        overflow-y: hidden;
        opacity: 0.68;
        filter: alpha(opacity=54) progid:DXImageTransform.Microsoft.Alpha(opacity=54);
    
        >.js-infoClose.inline-btn {
            left: 15px;
            bottom: 3px;
            text-align: left;
            /*background-color:rgba(255,255,255,0.87);*/
            float: left;
        }

        >.js-infoOpen.inline-btn {
            right: 15px;
            bottom: 4px;
            text-align: right;
            background-color: rgba(255, 255, 255, 0.87);
            float: right;
        }
    }

    .pr-info {
        background:#FFFFFF;
        background: rgba(255, 255, 255, 1);
        border-style: Solid;
        border-color: #B7C6CE;
        border-color: rgba(183, 198, 206, 1);
        border-width: 1px;
        border-bottom: 0px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 220px;
        z-index: 3;
        width: 100%;
        border-radius: 0px 0px 16px 16px;
        -moz-border-radius: 0px 0px 16px 16px;
        -webkit-border-radius: 0px 0px 16px 16px;
        filter: alpha(opacity=88) progid:DXImageTransform.Microsoft.Alpha(opacity=88);
        background-color: #ffffff;
        transition-duration: .2s;

        &:not(.info-open) {
            .pr-about>.js-infoClose.inline-btn {
                display: none;
            }
        }
    
        &.info-open {
            top: 110px !Important;
            transition-duration: .33s;

            .pr-title {
                line-height: initial;
            }
    
            .pr-about {
                max-height: 132px;
                overflow-y: auto;
                opacity: 0.87;

                >.js-infoOpen.inline-btn {
                    display: none;
                }
            }
    
            > .info {
                padding-top: 10px;
            }
    
        }
    
        &:not(._small) {
            > .info {
                height: calc(100% - 66px);
            }
        }

        > .info {
            padding: 6px 15px 6px 15px;
            width: 100%;
            z-index: 77;
            background-color: rgba(255, 255, 255, 0.87);

            @media (max-width: 900px) {
                height: calc(100% - 106px);
            }
        }
    
        > .info-bg {
            position: absolute;
            left: 0;
            z-index: 0;
            top: 0;
            overflow: hidden;
            filter: blur(20px);
            width: 100%;
            height: 100%;
            border-radius: 0px 0px 16px 16px;
            -moz-border-radius: 0px 0px 16px 16px;
            -webkit-border-radius: 0px 0px 16px 16px;
    
            > img {
                display: block;
                height: auto;
                min-height: 100%;
                max-width: 112%;
            }        
        }
    }

    .pr-action {
        height: 66px;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 0px 0px 16px 16px;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.87);
        border: 1px solid rgba(183, 198, 206, 1);
        border-top: 0px;

        @media (max-width: 900px) {
            height: 106px;

            .btn[class*="js-add"] {
                width: 100%;
            }
        }

        .row.pr-action-row {
            padding: 5px 0;
        }

        > .pr-seller {
            background: #B7C6CE;
            background: rgba(183, 198, 206, 0.18);
            position: relative;
            width: 100%;
            display: block;
            height: 25px;
            padding: 2px 15px;
            border-radius: 0px 0px 16px 16px;
            -moz-border-radius: 0px 0px 16px 16px;
            -webkit-border-radius: 0px 0px 16px 16px;
            filter: alpha(opacity=18) progid:DXImageTransform.Microsoft.Alpha(opacity=18);
        
            > span {
                font-family: Raleway;
                font-size: 11px;
                line-height: 21px;
                color: #000000;
                color: rgb(0, 0, 0);
                opacity: 0.54;
                filter: alpha(opacity=56) progid:DXImageTransform.Microsoft.Alpha(opacity=56);
            }
        }
    }

    .popover {
        z-index: 555;
        .popover-header {
            color: rgba(0, 0, 0, 0.87);
        }
    }
    &._small {
        max-width: 314px;
        // width: 144px;
        height: 220px;
        border-radius: 0px 0px 8px 8px;
        -moz-border-radius: 0px 0px 8px 8px;
        -webkit-border-radius: 0px 0px 8px 8px;

        .pr-image {
            height: 158px;
        }

        .pr-info {
            top: 158px;
            border-radius: 0px 0px 8px 8px;
            -moz-border-radius: 0px 0px 8px 8px;
            -webkit-border-radius: 0px 0px 8px 8px;
            background-color: rgba(255, 255, 255, 0.87);
        }

        .pr-title {
            font-size:13px;
            line-height:inherit;
        }

        .pr-price {
            font-size:10px;
            padding-bottom:3px;
        }

        .product-ratings {
            padding:0;
        }
        
        .pr-action {
            top: 0;
            width: 100%;
            height: 24px;
            background-color: rgba(255, 255, 255, 0.54);
        
            a.btn-inline {
                font-size:14px;
                line-height:24px;

                &:hover {
                    background-color:rgba(255,255,255,0.54);
                    line-height:24px;
                }
            }
        }

        &::hover {
            .pr-action {
                height: 28px;

                a.btn-inline {
                    padding:2px;
                }
            }
        }
    }
}

.user-info {
    &._prc {
        margin: 0 8px;
    }

    > .user-im {
        background: #B7C6CE;
        position: relative;
        background: rgba(183, 198, 206, 1);
        width: 21px;
        overflow: hidden;
        height: 21px;

        > img {
            height: 100%;
        }
    }

    > .user-about {
        padding: 0 8px;
        color: #000000;
        color: rgb(0, 0, 0);
        font-family: Trueno;
        font-style: italic;

        .user-name {
            font-family: inherit;
            font-style: inherit;
            line-height: 10px;
            font-size: 8px;
            color: inherit;
            opacity: 0.78;
            filter: alpha(opacity=78) progid:DXImageTransform.Microsoft.Alpha(opacity=78);
        }

        > .user-about-info {
            font-family: inherit;
            font-style: inherit;
            font-size: 6px;
            color: inherit;
            opacity: 0.54;
            filter: alpha(opacity=54) progid:DXImageTransform.Microsoft.Alpha(opacity=54);
        }
    }
}
