a.yo-rating-link {
    text-decoration: none !important;

	ul.product-ratings {
		list-style-type: none;
		line-height: 0px;
		margin: 0;
		padding: 0;
		padding-bottom: 4px;
		li {
			display: inline-block;
			font-size: 0.8rem; // text-outline: #F67674;
			// text-outline: rgb(246, 118, 116);
			line-height: 11px; // i {
			// }
		}
	}
}
