.review-item {
	margin-bottom: 12px;

	p.review {
		font-size: 0.95rem;
	}

	>.review-footer {
		position: relative;
		display: block;
	}

	&.highlight-review {
		.review {
			font-size: 1.25rem;
			font-weight: 600;
			line-height: 1.3;
			text-align: center;

		}
	}
}
