body {
	width: 100%;
	height: 100%;
}
#slideout-body {
	z-index: 2;
}
#slide-out-content {
	z-index: 0;
}
.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 320px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: none;
}

.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}
