
.user-item {
	padding: 10px;
    position: relative;

    a.user-avatar {
        float: left;
        padding: 10px 15px;
    
        >img {
            height: 46px;
            width: 46px;
            object-fit: cover;
        }

        &.yo-edit {
            position: relative;

            &::after {
                position: absolute;
                content: '\01F589';
                right: 16px;
                bottom: 16px;
                width: 28px;
                height: 28px;
                line-height: 28px;
                color: #1A252F;
                background-color: #edf7f8;
                border: 1px solid rgba(26,37,47,0.26);
                border-radius: 50%;
                font-weight: 600;
                text-align: center;
            }
        }
    }

    .user-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 15px 0 0;
        text-transform: capitalize;
        
        a {
            color: #5d6569;
            text-decoration: none;
            font-weight: bold;
            font-family: trueno;
        }

        span {
            font-size: 11px;
            color: #808d93;
            padding-top: 4px;
        }
    }

    a.user-delete {
        background-color: #de4a4a;
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
        line-height: 23px;
        width: 22px;
        height: 22px;
        top: 0;
        right: 0px;
        text-decoration: none;
    }

    &.item-large {
        a.user-avatar{
            >img {
                height: 86px;
                width: 86px;
            }
        }

        .user-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 24px 0 0;
            font-size: 2rem;

            span {
                font-size: 18px;
            }
        }

        a.user-delete {
            display: none;
        }
    }

    div.user-container {
        text-align: left;
        font: normal 14px 'Raleway';
        /*background-color:#f4f8fa;*/
        /*border:1px solid #dbe3e7;*/
        /*box-shadow:0 2px 3px #dbe3e7;*/
        padding-right: 24px;
        overflow: hidden;
    }
}

header nav {
    .user-item {
        @media(max-width: 1200px) {
            padding: 0 !important;
        }

        .user-container {
            @media(max-width: 1200px) {
                padding: 0 !important;
            }
        }

        .user-name {
            @media(max-width: 1200px) {
                display: none !important;
            }
        }
        
        a.user-avatar {
            @media(max-width: 1200px) {
                float: none !important;
                padding: 3px 16px 3px 0px !important;
            }
        }
    }
}