.yo-dropdown {
    min-height: 65px;
    max-height: 250px;
    overflow-y: auto;
    // display: flex;
    width: 87%;
    z-index: 77;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 2px;
    margin-right: 1rem;
    box-sizing: content-box;
    padding: 10px .5rem 5px;
    flex-direction: column;

    &.show {
        display: flex !important;
    }

    &:not(.show) {
        display: none !important;
    }

    &:not(.position-absolute) {
        position: absolute !important;

    }

    > p {
        font-size: 24px;
        line-height: 50px;
        text-align: center;
        width: 100%;
    }
    .dropdown-item {
        display: flex;
        padding: 0 !important;
        flex-grow: 1;
        flex-shrink: 0;

        &:last-child {
            border-bottom: 0 !important;
        }

        &.js-dataInputs {
            cursor: pointer;
        }
        > p, > span {
            line-height: 50px;
            font-size: 24px;
            margin: 0;

        }
        > span {
            flex-grow: 1;
            width: 50%;
        }
    }
}

.yo-dropdown-select {
    max-height:50vh;
    overflow-y:scroll;
}