.yo-steps {
	.yo-step-row {

        &._3-step .yo-step {
            width: 33.3%;
        }

        &._5-step .yo-step {
            width: 20%;
        }

        &::before {
            top: 14px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #ccc;
            z-index: 0;
        }

        .yo-step {

            p {
                margin-top: 10px;
            }
            button[disabled] {
                opacity: 1 !important;
                filter: alpha(opacity=100) !important;
            }

            .btn-circle {
                width: 30px;
                height: 30px;
                text-align: center;
                padding: 6px 0;
                font-size: 12px;
                line-height: 1.428571429;
                border-radius: 15px;
            }
        }
    }
}