#zoomple_previewholder {
	left: 0;
	top: 0;
	z-index: 99;
	position: absolute;
	display: none;
	width: 300px;
	height: 300px;
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	.image_wrap {
		left: 0;
		top: 0;
		z-index: 99;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #fff;
		box-shadow: 0 1rem 3rem rgba(92, 99, 105, 0.68);
	}
	.overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-clip: padding-box;
		z-index: 1;
	}
	img {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}
	.caption-wrap {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 101;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 11px;
		color: #090808;
		border-radius: 0 0 7px 7px;
		.caption {
			padding: 5px 10px;
			font-size: 11px;
			border-radius: 0 0 7px 7px;
			background: #fff;
		}
	}
	&.zp-visible {
		display: block;
	}
	&.rounded {
		.image_wrap {
			border: 0 solid rgb(123, 204, 252);
			border-radius: 50%;
			background-clip: padding-box;
		}
		.overlay {
			border-radius: 50%;
			box-shadow: inset 0 0 20px 7px #fff;
		}
	}
}

#zoomple_image_overlay {
	background: red;
	position: absolute;
	z-index: 100;
	filter: alpha(opacity=1);
	opacity: 0.01;
	.eyelet {
		background: rgba(0, 0, 0, 0.2);
		position: absolute;
		left: 0;
		top: 0;
	}
	&.preview {
		background: rgb(0, 0, 0);
		filter: alpha(opacity=50);
		opacity: 0.5;
	}
}

.marquee {
	filter: alpha(opacity=100);
}
