.yo-cart-list {
    max-width: 1012px;
    min-height: 49vh;
    
    @media (min-width: 1200px) {
        padding-left: 46px;
	    margin-right: 46px;
    }

    .cart-header {
        min-height: 72px;

        .cart-title {
            line-height: 72px;
            font-size: 24px;
            font-weight: 800;
            font-weight: bolder;
            font-family: 'Raleway';
            padding-left: 42px;
        }

        .title-box {
            height: 72px;
            padding-left: 42px;
        }
    }

    .cart-items {
        perspective: 3000;
    }
}
