.product-img-list {
    .product-img {
        margin-right: 8px;
        margin-bottom: 8px;
        
        > input:checked ~ label {
            &::after {
                opacity: 0.54;
                background-image: none !Important;
            }
        }

        > label {
            width: 64px;
            position: relative;
            height: 64px;
            cursor: pointer;

            &::after {
                width: 72px;
                z-index: -1;
                height: 72px;
                left: -4px;
                top: -4px;
                border-radius: 4px;
                background-color: #b3c2ca;
                opacity: 0;
            }

            &::before {
                display: none;
            }

            > .img {
                overflow: hidden;
                width: 100%;
                height: 100%;

                > img {
                    width: 100%;
                    min-height: 100%;
                    position: relative;
                    object-fit: cover;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.side-bar .category-list {
	padding: 16px 16px 16px 0;
}

.category-list {
    .list-group-item {
        > a, .card-header h5, .card-header a {
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 16px;
            color: #000;
            transition-duration: .2s;
        }

        > a, .card-header a {
            padding: 10px 20px;

            &:hover {
                background-color: rgba(168, 81, 77, 0.12);
            }
        }
        .card-header {
            background-color: transparent;
        }
    }
}

.filter-list .form-group:not(last-child) {
	padding-bottom: .5rem;
	border-bottom: 1px solid #f7f7f7
}

.yo-badge-list {
	padding-right: 100px;
}
