.notification-list {
    .notification-item {
        .timeline-spot {
            border: 3px solid #888;
            height: 16px;
            margin-right: -9px;
            width: 16px;
            border-radius: 50%;
        }

        .card {
            > .card-body {
                transition-duration: .3s;
                &:hover {
                    background-color: var(--info12);
                }
            }
        }
    }
}