
.yo-checkout-container {
    max-width: 420px;
    right: 0;
    @media (max-width: 600px) {
        max-width: 100vw;
        padding: 0 12px !important;
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;
        background-color: #ffeded;
        border-top: 1px solid #e7e6e6;
        z-index: 999;
        box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

        .checkout-header {
            padding-top: 16px !important;
            min-height: 24px !important;
            margin-left: 0.5rem !important;
            margin-right: 0.5rem !important;

            .cart-price {
                font-size: 24px !important;
            }
            h3, h4, h5 {
                font-size: 18px !important;
            }

        }

        .checkout-body {
            display: none;
        }
        
        .checkout-footer {
            padding: 0 !IMPORTANT;
            margin: 0 auto !IMPORTANT;

            > [class^='col-'] {
                padding: 0 !important;
            }
        }
    }
    .checkout-header {
        padding-top: 72px;
        min-height: 72px;

        .title-box {
            height: 72px;
            padding-left: 42px;
        }    
        
        .title {
            line-height: 72px;
            font-size: 24px;
            font-weight: 800;
            // font-weight: bolder;
            font-family: 'Raleway';
            padding-left: 42px;
        }
    }

    .checkout-details {
        font-family: 'Raleway';
        opacity: .67;
        font-size: 14px;
        font-weight: normal;
    }

    .info-box {
        background-color: rgba(232, 209, 192, 0.28);
        padding: 8px;
    }
}