*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body {
	overflow-x: hidden
}

a {
	text-decoration: none;
}

.word-wrap {
	word-wrap: normal !Important;
}

strong {
	font-weight: bold;
}

footer {
	z-index: 4;
}

header {
	z-index: 99;

	>nav {
		z-index: 5;
	}

	.img-logo {
		height: 48px;
		width: auto;
		object-fit: cover;

		@media (max-width: 480px) {
			height: 36px;
		}

	}

	&.yo-header {
		position: relative;
		// background-color: rgba(246, 118, 116, 0.78);
		margin-bottom: 42px;

		>.img-underlay {
			background-color: rgba(246, 118, 116, 0.78);
			position: absolute;
			left: 0;
			top: 0;
			overflow: hidden;
			width: 100%;
			height: 100%;

			>img {
				z-index: -1;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}
	}

	>.fold-container {
		padding: 64px 0 36px;
		z-index: 3;
		position: relative;

		@media (max-width: 576px) {
			padding: 36px 0 12px;
		}

		.fold-title {
			margin-bottom: 36px;
		}
	}
}

.force-center-both {
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	vertical-align: top;
}

.text-underline {
	text-decoration: underline;
}

.yo-content>.yo-content-header {
	border-bottom: 1px solid #b6c5cd;

	.yo-title {
		line-height: 32px;
	}
}

main {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	min-height: 80vh;
	z-index: 55;

	>.container {
		@media (min-width: 1200px) {
			width: 87%;
		}

		&.yo-fluid-container {
			width: 100%;
			max-width: 1440px;

			@media (min-width: 1200px) {
				padding: 0 61px;
			}

			@media (max-width: 575.98px) {
				padding: 0 16px;
			}
		}
	}
}

.card.product-image {
	max-width: 64px
}

table>caption {
	font-size: 12px
}

.txt-toggle-enable {
	margin-left: .5em
}

.load-more {
	padding-left: 2rem;
	padding-right: 2rem
}

section#foldSection {
	>.yo-user-bg {
		top: 0;
		left: 50%;
		opacity: .12;
		overflow: hidden;
		display: block;
		z-index: -1;

		>img {
			top: -50%;
			filter: blur(16px);
		}
	}
}

.badge-secondary[href] {
	&:not(.active) {
		i.js-removeFilter {
			display: none;
		}
	}

	&.active {
		color: rgba(0, 0, 0, 0.78);
		text-decoration: none;
		background-color: #e4cdbc;

		i.js-removeFilter {
			color: rgba(0, 0, 0, 0.78);
			text-decoration: none;
			background-color: #e4cdbc;
		}
	}
}

#login-box {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 25px !important;
	border-radius: 12px;
	overflow: hidden;
	background: white;
	-webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);

	@media (max-width: 575.98px) {
		margin: 0 8px;
	}
}

.login-box-seperator {
	flex: 1 0 auto;
	min-width: 1px;
	border-top: 1px solid #dedfe0;
	height: 1px;
}

.display-3,
.display-4 {
	font-weight: 400;
}

.display-4 {
	font-size: 3.5rem;
	line-height: 1.2;
}

.dashboard-card .card-header {
	color: #b7c6ce;
	font-weight: 700;
	font-size: 14px;

	.badge {
		float: right;
	}
}

.notification-button {
	font-size: 8px;
	margin-left: -2px;
}

.yo-notification-icon {
	transform-origin: 50% 50%;
	position: relative;

	&.new {
		@include new-alert;
	}
}

.yo-credit-card {
	border-radius: 32px;
	width: 378px;
	height: 207px;
	box-shadow: 1px -8px 28px 4px rgba(96, 96, 96, 0.175);

	&:not(.visa-card) {
		background-color: #94ccd6;
		background-image: none;
	}

	&.visa-card {
		background-color: transparent;
		background-image: url('../img/cc.png') !important;
		background: transparent url('../img/cc.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 112% auto;
		border: 1px solid #b7c6ce;
	}
}

.editor {
	min-height: 10rem;
}

.new-info-container {
	min-height: 100vh;

	.card {
		max-width: 400px;
	}

}

[data-toggle-read-more] {
	overflow: hidden !important;
	max-height: 10rem;
}

.yo-text-highlight {
	position: relative;
	color: var(--green);
	z-index: 2;
	display: inline-block;

	&::after {
		height: 100%;
		display: inline-block;
		border-radius: 2px;
		width: 100%;
		content: '';
		box-sizing: content-box;
		z-index: -1;
		top: 0;
		left: -3px;
		position: absolute;
		padding: 0px 3px;
		background-color: #fbe782;
	}
}
