#wrapper {
	padding-left: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
    transition: all .5s ease;
    
    &.toggled {
        padding-left: 250px;
        
        #sidebar-wrapper {
            width: 250px;
        }

        #page-content-wrapper {
            position: absolute;
            margin-right: -250px
        }
    }
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px
}

@media (min-width:768px) {
	#wrapper.toggled {
        padding-left: 0;
        
        #sidebar-wrapper {
            width: 0;
        }

        #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }
    }
    
	#page-content-wrapper {
		padding: 20px;
		position: relative
	}
}



#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #000;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

@media (min-width:768px) {
	#wrapper {
		padding-left: 250px
	}
	#sidebar-wrapper {
		width: 250px
	}
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
    list-style: none;
    
    li {
        text-indent: 20px;
        line-height: 40px;
        
    	a {
    		font-weight: 300;
    		display: block;
    		color: #fff;
            padding: .2rem 0;
            
    		&:hover {
    			text-decoration: none;
    			color: #fff;
    			background: #d75f5e
    		}
        }
        
        &.active, &.active a:hover {
            background-color: #a11a18;
	        line-height: 40px
        }
        
        &.active {

        }
    }

    >.sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        
        a {
            color: #fff;

            &:hover {
                color: #fff;
                background: 0 0;
            }
        }
    }
}
