.row.yo-product {
    margin-bottom: 40px;
    
    .col.product-details-container {
        padding-top: 24px;

        @media (min-width: 576px) {
            padding-top: 18px;
            margin-left: 24px;
        }

        .col.product-variables {
            overflow-x: visible;
        }

        .product-cta {
            &.position-absolute {
                flex: 0 0 28%;
                right: 0;
                width: 28%;
                .js-addToCart:not(.js-btn-absolute) {
                    display: none;
                }

                .js-btn-absolute {
                    display: block;
                    /*width:100%;*/
                }

                .product-variables {
                    flex: 0 0 auto;
                }

                .my-btn-primary > span {
                    display: none;
                }
            }

            &:not(.position-absolute) {
                .js-addToCart{
                    &.js-btn-absolute {
                        display: none;
                    }

                    &:not(.js-btn-absolute) {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

        .col.product-variables, .col.product-details {
            flex: 0 0 100%;
            .yo-title-lg {
                text-transform: uppercase;
            }
            
            &.w-not-responsive {
                flex: 0 0 72% !important;
            }

            @media (min-width: 601px) {
                flex: 0 0 72%;
            }
            @media (max-width: 600px) {
                &.w-not-responsive {
                    flex: 0 0 100% !important;
                    /*width:72% !Important;*/
                }
            }
        }

        .product-rate {
            margin-bottom: 10px;

            .product-ratings li {
                font-size: 15px;
            }
        }
        
        .product-about {
            font-size: 14px;
            font-weight: bold;
            font-family: 'Raleway';
            // font-style: italic;
            max-height: 90px;
            overflow: hidden;
        }

        .product-specs {
            font-size: 18px;
            font-weight: 200;
            font-family: 'Raleway';
            opacity: .54;
            height: 28px;
        }

        .product-about,
        .product-specs {
            * {
                font: inherit !Important;
            }
        }

        .product-price {
            font-size: 28px;
            font-weight: 500;
            font-family: 'Raleway';
        }

        .btn.my-btn-primary.js-addToWishist {
            border-width: 2px;
        }
    }

    > .col.product-img-container {
        position: relative;
        max-width: 614px;

        @media (min-width: 992px) {
            width: 50%;
		    flex: 0 0 50%;
        }
        @media (min-width: 1200px) {
            width: 68%;
            flex: 0 0 68%;
            
            .img-holder {
                margin-left: 100px;
                flex: 0 0 calc(100% - 100px);
            }

            > .product-img-list {
                margin-left: 100px;
            }
        }
        @media (max-width: 600px) {
            width: 100%;
		    flex: 0 0 100%;
        }
        
        .img-holder {
            position: relative;
            height: 478px;
            z-index: 1;
            margin-top: 56px;

            @media (max-width: 575.98px) {
                height: 56vh !Important;
                margin-top: 0 !Important;
                min-height: 320px;
            }

            img {
                /* float:right; */
                max-height: 100%;
                max-width: 100%;
                cursor: pointer;
                
                &[data-im-orientation="horizontal"] {
                    width: 100%;
                }

                &[data-im-orientation="vertical"] {
                    @media (min-width: 992px) {
                        height: 100%;
                    }
                    @media (min-width: 576px) {
                        margin-top: -54px;
                    }
                }
            }
        }

        > .product-img-list {
            margin-top: -64px;
            z-index: 5;
            margin-left: 32px;
            position: relative;
        }
    }

    .product-about {
        
        + [class^='js-info'].inline-btn {
            line-height: 18px;
            padding: 0 16px;
            border-bottom: 1px solid #f67674;
        }

        &.d-none + .js-infoOpen {
            display: none;
        }
    }
}

.row.yo-products {
    
    > [class|="col"] {
        padding: 33px 12px 0;
    }
}

.zoom-lens {
    position: fixed;
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: rgba(179, 194, 202, 0.12);
    height: 70vh;
    margin-left: 24px;
    
    > img {
        position: relative;
    }
}
@media (min-width: 992px) {
	.content > .row.yo-products {
		margin-left: 20px;
    }
}