h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Raleway';
}

.yo-title-sm {
	font-size: 12px;
	font-family: 'Raleway';
	opacity: .54;
	font-weight: 700;
}

.yo-title-lg {
	font-family: 'Raleway';
	font-weight: 800 !Important;
}

.yo-title {
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 600 !Important;
}

.form-group {
	[data-form-group]:not(input):not(textarea) {
		display: block;
		width: 100%;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		background-color: var(--secondary26);

		&.textarea {
			min-height: 192px;
		}
	}
}

.font-size-md {
	font-size: 18px !important;
}
