@keyframes yourAnimation{
    0%{
        transform: rotate(0deg) scale(1);
        }
    6%{
        transform: rotate(0deg) scale(1.05);
        }
    17%{
        transform: rotate(15deg) scale(1.15);
        }
    30%{
        transform: rotate(-15deg) scale(1.15);
        }
    44%{
        transform: rotate(15deg) scale(1.15);
        }
    60%{
        transform: rotate(-15deg) scale(1.15);
        }
    79%{
        transform: rotate(15deg) scale(1.15);
        }
    94%{
        transform: rotate(0deg) scale(1);
        }
}
@mixin new_alert {
    animation: yourAnimation 1s infinite 1s ease-in-out;
}