
@mixin shadow-xs($alpha:1) {
    -webkit-box-shadow: 0px 3px 16px -8px rgba(87, 86, 87, $alpha);
    -moz-box-shadow: 0px 3px 16px -8px rgba(87, 86, 87, $alpha);
    box-shadow: 0px 3px 16px -8px rgba(87, 86, 87, $alpha);
}