/* .product-card {
	background: #E9D2C1;
	background: rgba(233, 210, 193, 1);
	overflow: hidden;
	position: relative;
	max-width: 360px;
	/* width:234px; 
	height: 378px;
	border-radius: 0px 0px 16px 16px;
	-moz-border-radius: 0px 0px 16px 16px;
	-webkit-border-radius: 0px 0px 16px 16px;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#000000');
}

.pr-info {
	/*background:#FFFFFF;
	background: rgba(255, 255, 255, 1);
	border-style: Solid;
	border-color: #B7C6CE;
	border-color: rgba(183, 198, 206, 1);
	border-width: 1px;
	border-bottom: 0px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	top: 220px;
	display: block;
	z-index: 3;
	width: 100%;
	border-radius: 0px 0px 16px 16px;
	-moz-border-radius: 0px 0px 16px 16px;
	-webkit-border-radius: 0px 0px 16px 16px;
	filter: alpha(opacity=88) progid:DXImageTransform.Microsoft.Alpha(opacity=88);
	background-color: #ffffff;
}

.pr-info>.info-bg {
	position: absolute;
	left: 0;
	z-index: 0;
	top: 0;
	overflow: hidden;
	filter: blur(20px);
	width: 100%;
	height: 100%;
	border-radius: 0px 0px 16px 16px;
	-moz-border-radius: 0px 0px 16px 16px;
	-webkit-border-radius: 0px 0px 16px 16px;
}

.pr-info>.info-bg>img {
	display: block;
	height: auto;
	min-height: 100%;
	max-width: 112%;
}

.pr-info>.info {
	height: calc(100% - 66px);
	padding: 6px 15px 6px 15px;
	width: 100%;
	z-index: 77;
	display: block;
	position: relative;
	background-color: rgba(255, 255, 255, 0.87);
}

.pr-info.info-open {
	top: 110px !Important;
}

.pr-info.info-open .pr-about {
	max-height: 132px;
	overflow-y: auto;
}

.pr-info.info-open .pr-title {
	line-height: initial;
}

.pr-info.info-open>.info {
	padding-top: 10px;
}

.pr-info::not(.info-open) .pr-about>.js-infoOpen.inline-btn {
	display: none;
}

.pr-info::not(.info-open) .pr-about>.js-infoOpen.inline-btn {
	display: none;
}

.pr-info.info-open .pr-about>.js-infoOpen.inline-btn {
	display: none;
}

.pr-image>a {
	z-index: 2;
}

.force-center-both {
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	vertical-align: top;
}

.product-card .pr-title {
	font-family: Raleway;
	white-space: nowrap;
	text-align: left;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	color: rgb(0, 0, 0);
}

.product-card .pr-price {
	font-family: Raleway;
	font-size: 1.25em;
	/*line-height:15px;
	color: #A9514D;
	color: rgb(169, 81, 77);
	margin: 0;
	opacity: 0.78;
	filter: alpha(opacity=78) progid:DXImageTransform.Microsoft.Alpha(opacity=78);
}

.product-ratings {
	list-style-type: none;
	line-height: 0px;
	margin: 0;
	padding: 0;
	padding-bottom: 4px;
}

ul.product-ratings>li i {
	display: inline-block;
	font-size: 0.8rem;
	text-outline: #F67674;
	text-outline: rgb(246, 118, 116);
	padding-right: 0;
	line-height: 11px;
}

.pr-about {
	font-family: Trueno;
	font-style: italic;
	font-size: 12px;
	color: #000000;
	font-weight: 300;
	color: rgb(0, 0, 0);
	line-height: 11px;
	max-height: 33px;
	overflow-y: hidden;
	opacity: 0.54;
	filter: alpha(opacity=54) progid:DXImageTransform.Microsoft.Alpha(opacity=54);
}

.pr-image {
	border-style: Solid;
	border-color: #B7C6CE;
	border-color: rgba(183, 198, 206, 1);
	border-bottom: 0;
	border-width: 1px;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 220px;
	z-index: 2;
}

.pr-action {
	height: 66px;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-radius: 0px 0px 16px 16px;
	z-index: 55;
	background-color: rgba(255, 255, 255, 0.87);
	border: 1px solid rgba(183, 198, 206, 1);
	border-top: 0px;
}

.inline-btn {
	text-decoration: underline;
	font-family: Trueno;
	padding: 0 4px;
	font-style: italic;
	font-size: 11px;
	color: #F77674;
	color: rgb(247, 118, 116);
}

.pr-about>.js-infoClose.inline-btn {
	left: 15px;
	bottom: 3px;
	text-align: left;
	/*background-color:rgba(255,255,255,0.87);
	float: left;
}

.pr-about>.js-infoOpen.inline-btn {
	right: 15px;
	bottom: 4px;
	text-align: right;
	background-color: rgba(255, 255, 255, 0.87);
	float: right;
} 

.btn.my-btn-primary._small {
	line-height: 13px;
	padding: 0 5px;
	font-size: 12px;
}

.btn.my-btn-primary.btn-outline {
	background-color: transparent;
	border: 1px solid #F77674;
	color: #F77674;
} */
/* 
.row.pr-action-row {
	padding: 5px 0;
}

.pr-rate {
	display: inline;
}

.pr-action>.pr-seller {
	background: #B7C6CE;
	background: rgba(183, 198, 206, 0.18);
	position: relative;
	width: 100%;
	display: block;
	height: 32px;
	padding: 2px 15px;
	border-radius: 0px 0px 16px 16px;
	-moz-border-radius: 0px 0px 16px 16px;
	-webkit-border-radius: 0px 0px 16px 16px;
	filter: alpha(opacity=18) progid:DXImageTransform.Microsoft.Alpha(opacity=18);
}

.user-info>.user-im {
	background: #B7C6CE;
	position: relative;
	background: rgba(183, 198, 206, 1);
	width: 21px;
	overflow: hidden;
	height: 21px;
}

.user-info._prc {
	margin: 0 8px;
}

.product-card .pr-seller>span {
	font-family: Raleway;
	font-size: 11px;
	line-height: 28px;
	color: #000000;
	color: rgb(0, 0, 0);
	opacity: 0.56;
	filter: alpha(opacity=56) progid:DXImageTransform.Microsoft.Alpha(opacity=56);
}

.product-card._small .pr-action {
	top: 0;
	width: 100%;
	height: 24px;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.54);
	border: none;
}

.product-card._small {
	max-width: 314px;
	width: 144px;
	height: 220px;
	border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
}

.product-card._small .pr-image {
	height: 158px;
}

.product-card._small .pr-info {
	top: 158px;
	border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	background-color: rgba(255, 255, 255, 0.87);
}
.product-card._small .pr-title {
  font-size:13px;
  line-height:inherit;
}
.product-card._small .pr-price {
  font-size:10px;
  padding-bottom:3px;
}
.product-card._small:hover .pr-action a.btn-inline {
  padding:2px;
}

.product-card._small .pr-action a.btn-inline:hover {
  background-color:rgba(255,255,255,0.54);
  line-height:24px;
}

.product-card._small .pr-action a.btn-inline {
  font-size:14px;
  line-height:24px;
}

.product-card._small .pr-rate .product-ratings {
  padding:0;
}


.product-card._small:hover .pr-action {
	height: 28px;
}

.product-card._small .pr-action {
	top: 0;
	width: 100%;
	height: 24px;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.54);
	border: none;
}

.user-info>.user-about .user-name {
	font-family: Trueno;
	font-style: italic;
	margin: 0;
	line-height: 10px;
	font-size: 8px;
	color: #000000;
	color: rgb(0, 0, 0);
	opacity: 0.78;
	filter: alpha(opacity=78) progid:DXImageTransform.Microsoft.Alpha(opacity=78);
}

.user-info>.user-about {
	padding: 0 8px;
}

.user-info>.user-about>.user-about-info {
	font-family: Trueno;
	font-style: italic;
	font-size: 6px;
	margin: 0;
	color: #000000;
	color: rgb(0, 0, 0);
	opacity: 0.54;
	filter: alpha(opacity=54) progid:DXImageTransform.Microsoft.Alpha(opacity=54);
}

.user-info>.user-im>img {
	height: 100%;
}

.pr-image>a {
	z-index: 2;
}

.pr-info:not(.info-open) .pr-about>.inline-btn.js-infoClose {
	display: none;
} */
/* 
.sidebar-nav li a,
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none
} */
/* 
*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
} */
/* 
body {
	overflow-x: hidden
} */
/* 
#wrapper.toggled {
	padding-left: 250px
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px
}

@media (min-width:768px) {
	#wrapper.toggled {
		padding-left: 0
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 0
	}
	#page-content-wrapper {
		padding: 20px;
		position: relative
	}
	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0
	}
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #000;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: #d75f5e
}

.sidebar-nav>.sidebar-brand a {
	color: #fff
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: 0 0
}

@media (min-width:768px) {
	#wrapper {
		padding-left: 250px
	}
	#sidebar-wrapper {
		width: 250px
	}
}

.sidebar-nav li a {
	font-weight: 300;
	display: block;
	color: #fff;
	padding: .2rem 0
}

.display-3,
.display-4 {
	font-weight: 400
}

.sidebar-nav li.active,
.sidebar-nav li.active a:hover {
	background-color: #a11a18;
	line-height: 40px
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px
}

.display-4 {
	font-size: 3.5rem;
	line-height: 1.2
}

.dashboard-card>.card-header .badge {
	float: right
}

.dashboard-card .card-header {
	color: #b7c6ce;
	font-weight: 700;
	font-size: 14px
}

.notification-button {
	font-size: 8px
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px
} */
/* 
table>caption {
	font-size: 12px
}

.txt-toggle-enable {
	margin-left: .5em
}

.load-more {
	padding-left: 2rem;
	padding-right: 2rem
} */

/* .card-body {
	flex: 1 1 auto;
	padding: .35rem
} */

/* .card.product-image {
	max-width: 64px
} */

/* .filter-list .form-group:not(last-child) {
	padding-bottom: .5rem;
	border-bottom: 1px solid #f7f7f7
} */

/* main>.container.yo-fluid-container {
	width: 100%;
	padding: 0 61px;
	max-width: 1440px;
} */
/* 
.yo-cart-list {
	padding-left: 46px;
	margin-right: 46px;
	max-width: 1012px;
	min-height: 500px;
}

.yo-cart-list .cart-header {
	min-height: 72px;
}

.yo-cart-list .cart-header .cart-title {
	line-height: 72px;
	font-size: 24px;
	font-weight: 800;
	font-weight: bolder;
	font-family: 'Raleway';
	padding-left: 42px;
}

.yo-cart-icon>span {
	position: absolute;
	font-size: 0.5em;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	font-weight: 200;
	font-family: 'Raleway';
	top: -0.75em;
	/*color:#fff;
	line-height: 2em;
} */

/* .yo-cart-icon {
  } */
/* 
.cart-items .cart-item .card.d-flex {
	background-color: transparent;
	padding: 8px 31px;
	transition: .2s;
}

.cart-items .cart-item .card.d-flex::after {
	content: '';
	position: absolute;
	width: calc(100% - 105px);
	right: 0;
	border-bottom: 1px solid #000;
	opacity: .12;
	bottom: 0;
}

.cart-items .cart-item {
	background-color: transparent;
	transition: .2s;
}

.cart-items .cart-item:hover {
	background-color: rgba(232, 209, 192, 0.27);
}

/* .cart-item .yo-cart-item-body { */

/*display:inline-block;*/

/*max-width:148px;*/

/*flex-basis:calc(100% - 240px);*/

/* } 

.cart-item .yo-cart-img-border {
	border-radius: 6px;
}

.cart-item .yo-cart-item-image {
	max-height: 148px;
	width: 148px;
	overflow: hidden;
	border-radius: 6px;
}

.yo-cart-item-body .card-title {
	font-size: 18px;
	font-family: 'Raleway';
	font-weight: 600;
}

.yo-cart-item-body .card-subtitle {
	font-size: 15px;
	font-family: 'Raleway';
	font-weight: normal;
}

.yo-cart-item-body .cart-item-details {
	font-size: 13px;
	opacity: .54;
	font-family: 'Raleway';
	font-weight: normal;
} */

/* .yo-checkout-container {
	max-width: 348px;
	right: 0;
} */
/* 
@media (min-width: 1200px) {
	main>.container {
		width: 87%;
	}
}

main>.container {
	width: 100%;
	max-width: 1032px;
} */
/* 
.yo-product>.col.product-img-container {
	position: relative;
	max-width: 614px;
}

@media (min-width: 1200px) {
	.yo-product>.col.product-img-container {
		width: 68%;
		flex: 0 0 68%;
	}
}

@media (max-width: 420px) {
	.yo-product>.col.product-img-container {
		width: 100%;
		flex: 0 0 100%;
	}
}

@media (min-width: 992px) {
	.yo-product>.col.product-img-container {
		width: 50%;
		flex: 0 0 50%;
	}
}

.col.product-details-container .col.product-variables {
	overflow-x: visible;
}

@media (min-width: 576px) {
	.col.product-details-container {
		padding-top: 18px;
		margin-left: 24px;
	}
}

.col.product-details-container {
	padding-top: 24px;
}

.col.product-details-container .col.product-variables,
.col.product-details-container .col.product-details {
	flex: 0 0 72%;
	/*width:72% !Important;
}

@media (max-width: 420px) {
	.col.product-details-container .col.product-variables:not(.w-not-responsive),
	.col.product-details-container .col.product-details:not(.w-not-responsive) {
		flex: 0 0 100%;
		/*width:72% !Important;
	}
}

.yo-title-lg {
	font-family: 'Raleway';
	font-weight: 900 !Important;
	/*font-weight:extra-bold;
}

@media (max-width: 575.98px) {
	.yo-product>.col.product-img-container .img-holder {
		height: 56vh !Important;
		margin-top: 0 !Important;
		min-height: 320px;
	}
}

.yo-product>.col.product-img-container .img-holder {
	position: relative;
	height: 478px;
	z-index: 1;
	margin-top: 56px;
}

@media (min-width: 1200px) {
	.yo-product>.col.product-img-container .img-holder {
		margin-left: 100px;
		flex: 0 0 calc(100% - 100px);
	}
}

.yo-product>.col.product-img-container .img-holder img {
	/* float:right; 
	max-height: 100%;
	max-width: 100%;
	/* display:inline-block; 
}

@media (min-width: 576px) {
	.yo-product>.col.product-img-container .img-holder img[data-im-orientation="vertical"] {
		margin-top: -54px;
	}
}

@media (min-width: 992px) {
	.yo-product>.col.product-img-container .img-holder img[data-im-orientation="vertical"] {
		height: 100%;
	}
}

.yo-product>.col.product-img-container .img-holder img[data-im-orientation="horizontal"] {
	width: 100%;
}

.yo-product>.col.product-img-container>.product-img-list {
	margin-top: -64px;
	z-index: 5;
	margin-left: 32px;
	position: relative;
}

@media (min-width: 1200px) {
	.yo-product>.col.product-img-container>.product-img-list {
		margin-left: 100px;
	}
}

.product-details-container .product-rate,
.product-details-container .product-rate i {
	font-size: 13px;
}

.product-details-container .product-rate {
	margin-bottom: 10px;
}

.product-details-container .product-about.d-none+.js-infoOpen {
	display: none;
}

.product-details-container .product-about {
	font-size: 11px;
	font-weight: 200;
	font-family: 'Trueno';
	font-style: italic;
	max-height: 92px;
	overflow: hidden;
}

.product-details-container .product-specs {
	font-size: 12px;
	font-weight: 200;
	font-family: 'Raleway';
	opacity: .54;
	height: 26px;
}

.product-details-container .product-price {
	font-size: 18px;
	font-weight: 500;
	font-family: 'Raleway';
}

.product-about+.js-infoOpen.inline-btn {
	line-height: 18px;
	padding: 0 16px;
	border-bottom: 1px solid #f67674;
}

.product-details-container .btn.my-btn-primary.js-addToWishist {
	border-width: 2px;
} */
/* 
.form-group.yo-product-variable>label {
	font-size: 10px;
	font-weight: 100;
	font-family: 'Raleway';
	opacity: .54;
}

.yo-product-variable.yo-size select {
	border-color: #f67674;
}

.form-group.yo-product-variable.d-inline-block {
	padding-right: 32px;
}

.form-group.yo-product-variable.yo-size,
.form-group.yo-product-variable.yo-color {
	padding-left: 8px;
}

.form-group.yo-product-variable.yo-color .custom-radio input~label.custom-control-label::before {
	background-color: inherit;
}

.form-group.yo-product-variable.yo-color .custom-radio input~label.custom-control-label::before,
.form-group.yo-product-variable.yo-color .custom-radio input~label.custom-control-label::after,
.form-group.yo-product-variable.yo-size .custom-radio input~label.custom-control-label::before,
.form-group.yo-product-variable.yo-size .custom-radio input~label.custom-control-label::after {
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	z-index: -1;
	cursor: pointer;
	border: 1px solid transparent;
}

.form-group.yo-product-variable.yo-size .custom-radio input~label.custom-control-label::before,
.form-group.yo-product-variable.yo-size .custom-radio input~label.custom-control-label::after {
	border-color: #f67674;
	background-color: transparent;
}

.form-group.yo-product-variable.yo-size>.yo-size-list,
.form-group.yo-product-variable.yo-color>.yo-color-list {
	/*overflow-x:auto;
	margin-left: -8px;
}

.form-group.yo-product-variable.yo-size .custom-radio,
.form-group.yo-product-variable.yo-color .custom-radio {
	width: 36px;
	margin-right: 6px;
	min-height: 36px;
}

.form-group.yo-product-variable.yo-size .custom-radio input~label {
	font-size: 13px;
	font-weight: 300;
	font-family: Trueno;
	font-style: italic;
	line-height: 36px;
	text-transform: uppercase;
	width: 36px;
	cursor: pointer;
	color: #a8514d;
}

.form-group.yo-product-variable.yo-size .custom-radio input:checked~label {
	color: #fff;
}

.form-group.yo-product-variable.yo-size .custom-radio input:checked~label::after,
.form-group.yo-product-variable.yo-color .custom-radio input:checked~label::after {
	background-image: none;
}

.form-group.yo-product-variable.yo-color .custom-radio input~label {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	cursor: pointer;
}

.form-group.yo-product-variable.yo-size .custom-radio input:checked~label::after {
	background-color: #f67674;
}

.form-group.yo-product-variable.yo-color .custom-radio input~label::after {
	transform-origin: center;
	transform: scale(1);
}

.form-group.yo-product-variable.yo-color .custom-radio input:checked~label::after {
	transform: scale(1.2);
	border-color: #f67674;
}

.yo-product-variable input[type="radio"]:focus,
.yo-product-variable input[type="radio"]:checked:focus~label::before {
	outline: none !Important;
	/*margin-left:22px;
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none !Important;
} */
/* 
.row.yo-product {
	margin-bottom: 40px;
}

.product-img-list .product-img label {
	width: 64px;
	position: relative;
	height: 64px;
	cursor: pointer;
}

.product-img-list .product-img {
	margin-right: 8px;
}

.product-img-list .product-img>label>.img {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.product-img-list .product-img>label>.img>img {
	max-width: 100%;
	position: relative;
	min-height: 100%;
	overflow: hidden;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.product-img-list .product-img>label::after {
	width: 72px;
	z-index: -1;
	height: 72px;
	left: -4px;
	top: -4px;
	border-radius: 4px;
	background-color: #b3c2ca;
	opacity: 0;
}

.product-img-list .product-img>input:checked~label::after {
	opacity: 0.54;
	background-image: none !Important;
}

.product-img-list .product-img>label::before {
	display: none;
}

.col.product-details-container .product-cta:not(.position-absolute) .js-addToCart.js-btn-absolute {
	display: none;
}

.col.product-details-container .product-cta:not(.position-absolute) .js-addToCart:not(.js-btn-absolute) {
	display: block;
	width: 100%;
}

.col.product-details-container .product-cta.position-absolute .js-addToCart:not(.js-btn-absolute) {
	display: none;
}

.col.product-details-container .product-cta.position-absolute .js-btn-absolute {
	display: block;
	/*width:100%;
}

.col.product-details-container .product-cta.position-absolute .product-variables {
	flex: 0 0 auto;
}

.col.product-details-container .product-cta.position-absolute .my-btn-primary>span {
	display: none;
}

.col.product-details-container .product-cta.position-absolute {
	flex: 0 0 28%;
	right: 0;
	width: 28%;
}

.product-about+.js-infoOpen.inline-btn {
	line-height: 18px;
	padding: 0 16px;
	border-bottom: 1px solid #f67674;
} */
/* 
.btn.my-btn-primary>span {
	font-weight: 300;
	font-style: italic;
} */

/* .product-ratings {
	list-style-type: none;
	line-height: 0px;
	margin: 0;
	/*display:inline-block;
	padding: 0;
	padding-bottom: 4px;
}

ul.product-ratings>li {
	display: inline-block;
	font-family: Flaticon;
	font-size: 9px;
	text-outline: #F67674;
	text-outline: rgb(246, 118, 116);
	padding-right: 1px;
	line-height: 11px;
}

.pr-rate {
	display: inline;
} */
/* 
.user-item {
	padding: 10px;
	position: relative;
}

.user-item div.user-container {
	text-align: left;
	font: normal 14px sans-serif;
	/*background-color:#f4f8fa;*/
	/*border:1px solid #dbe3e7;*/
	/*box-shadow:0 2px 3px #dbe3e7;
	padding-right: 24px;
	overflow: hidden;
}

.user-item a.user-avatar>img {
	height: 46px;
	width: 46px;
}

.user-item.item-large a.user-avatar>img {
	height: 86px;
	width: 86px;
}

.user-item a.user-avatar {
	float: left;
	padding: 10px 15px;
}

.user-item.item-large p.user-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*margin:19px 0 0;
}

.user-item.item-large p.user-name {
	margin: 24px 0 0;
}

.user-item p.user-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 15px 0 0;
}

.user-item.item-large p.user-name {
	font-size: 2rem;
}

.user-item p.user-name a {
	color: #5d6569;
	text-decoration: none;
	font-weight: bold;
	font-family: trueno;
}

.user-item p.user-name span {
	display: block;
	font-size: 11px;
	color: #808d93;
	padding-top: 4px;
}

.user-item.item-large p.user-name span {
	font-size: 18px;
}

.user-item a.user-delete {
	background-color: #de4a4a;
	border-radius: 50%;
	color: #fff;
	font-size: 10px;
	line-height: 23px;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 0;
	right: 0px;
	text-align: center;
	text-decoration: none;
}

.user-item.item-large a.user-delete {
	display: none;
} */
/* 
.register-photo {
	background: #f1f7fc;
	padding: 80px 0;
}

.register-photo .image-holder {
	display: table-cell;
	width: auto;
	background: url(../../assets/img/meeting.jpg);
	background-size: cover;
}

.register-photo .form-container {
	display: table;
	max-width: 900px;
	width: 90%;
	margin: 0 auto;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-photo form {
	display: table-cell;
	width: 400px;
	background-color: #ffffff;
	padding: 40px 60px;
	color: #505e6c;
}

@media (max-width:991px) {
	.register-photo form {
		padding: 40px;
	}
}

.register-photo form h2 {
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.register-photo form .form-control {
	background: #f7f9fc;
	border: none;
	border-bottom: 1px solid #dfe7f1;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: inherit;
	text-indent: 6px;
	height: 40px;
}

.register-photo form .form-check {
	font-size: 13px;
	line-height: 20px;
}

.register-photo form .btn-primary {
	background: #f4476b;
	border: none;
	border-radius: 4px;
	padding: 11px;
	box-shadow: none;
	margin-top: 35px;
	text-shadow: none;
	outline: none !important;
}

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
	background: #eb3b60;
}

.register-photo form .btn-primary:active {
	transform: translateY(1px);
}

.register-photo form .already {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
} */

/* .category-list {
} */
/* 
.side-bar .category-list {
	padding: 16px 16px 16px 0;
}

.category-list .list-group-item .card-header {
	background-color: transparent;
}

.category-list .list-group-item>a,
.category-list .list-group-item .card-header h5,
.category-list .list-group-item .card-header a {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 16px;
	color: #000;
	transition-duration: .2s;
}

.category-list .list-group-item>a:hover,
.category-list .list-group-item .card-header a:hover {
	background-color: rgba(168, 81, 77, 0.12);
}

.category-list .list-group-item .card-header a[aria-expanded="true"] {
	background-color: rgba(168, 81, 77, 0.06);
}

.category-list .list-group-item>a,
.category-list .list-group-item .card-header a {
	padding: 10px 20px;
} */
/* 
section#foldSection>.yo-user-bg>img {
	top: -50%;
	filter: blur(16px);
}

section#foldSection>.yo-user-bg {
	top: 0;
	left: 50%;
	opacity: .12;
	overflow: hidden;
	display: block;
	z-index: -1;
}

.yo-badge-list {
	padding-right: 100px;
}

header>.fold-container {
	padding: 64px 0 36px;
}

header>.fold-container .fold-title {
	margin-bottom: 36px;
}

header.yo-header {
	position: relative;
	background-color: rgba(246, 118, 116, 0.78);
	margin-bottom: 42px;
}

@media (max-width: 575.98px) {
	header.yo-header>.img-underlay>img {
		height: 100%;
		left: -50%;
		top: 0;
		width: auto;
		transform: translate(50%, 0);
	}
}

header.yo-header>.img-underlay>img {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	width: 100%;
}

header.yo-header>.img-underlay {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.badge-secondary[href].active i.js-removeFilter {
	color: rgba(0, 0, 0, 0.78);
	text-decoration: none;
	background-color: #e4cdbc;
}

.badge-secondary[href]:not(.active) i.js-removeFilter {
	display: none;
}

.badge-secondary[href].active {
	color: rgba(0, 0, 0, 0.78);
	text-decoration: none;
	background-color: #e4cdbc;
} */
/* 
@media (max-width: 767.98px) {
	.navbar-brand {
		margin-right: 8px;
	}
}

@media (min-width: 768px) {
	.navbar-brand {
		margin-right: 68px;
	}
}

.navbar-brand {
	font-size: 24px;
	padding: 0;
	line-height: 52px;
}

nav .btn-cta,
nav .navbar-nav a {
	margin-left: 0;
}

@media (min-width: 360px) {
	nav .btn-cta,
	nav .navbar-nav a {
		margin-left: 1rem;
	}
}

@media (min-width: 992px) {
	nav .btn-cta,
	nav .navbar-nav a {
		margin-left: 2rem;
	}
} */
/* 
.navigation-clean-search {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #333;
	max-width: 1440px;
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin-bottom: 0;
}

@media (min-width:768px) {
	/* .navigation-clean-search { */
	/*padding-top:1rem;*/
	/*padding-bottom:1rem;*/
	/* } 
}

.navigation-clean-search .navbar-brand {
	font-weight: bold;
	color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
	color: #222;
}

.navigation-clean-search .navbar-toggler {
	border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover,
.navigation-clean-search .navbar-toggler:focus {
	background: none;
}

.navigation-clean-search .navbar-toggler {
	color: #888;
}

.navigation-clean-search .navbar-collapse,
.navigation-clean-search .form-inline {
	border-top-color: #ddd;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
	padding-left: 18px;
	padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
	color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
	color: #37434d !important;
	background-color: transparent;
}

nav a,
nav a>i {
	font-size: 24px;
	color: #fff;
} */
/* 
.btn.my-btn-primary.tiny {
	border-radius: 2px;
	font-size: 7px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.btn.my-btn-primary.btn-outline.white {
	background-color: transparent;
	color: #fff;
	border-color: #fff;
}

.btn.my-btn-primary.btn-outline {
	background-color: transparent;
	color: #F77674;
}

.btn.my-btn-primary {
	background: #F77674;
	background: rgba(247, 118, 116, 1);
	border: 1px solid #F77674;
	display: inline-block;
	text-transform: uppercase;
	padding: 0 30px;
	width: initial;
	border-radius: 2px;
	box-shadow: none;
	outline: none;
	font-size: 18px;
	line-height: 36px;
	color: #FFFFFF;
	color: rgb(255, 255, 255);
	font-family: Trueno;
	font-weight: bold;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
} */
/* 
.my-searchbar._thin>.input-group-prepend>.dropdown>.dropdown-menu {
	min-width: 176px;
}

.my-searchbar._thin>.input-group-prepend>.dropdown>.dropdown-toggle {
	max-width: 176px;
	width: 140px;
	font-size: 16px;
}

.my-searchbar>.input-group-prepend>.dropdown>.dropdown-toggle {
	border: 0;
}

.input-group.my-searchbar._thin {
	max-width: 636px;
	height: 52px;
	flex-grow: 1;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	flex-shrink: 1;
}

.input-group.my-searchbar {
	background: #FFFFFF;
	background: rgba(255, 255, 255, 1);
	position: relative;
	max-width: 742px;
	height: 3.6rem;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.my-searchbar._thin>.input-group-append>button {
	width: 52px;
	font-size: 21px;
}

.my-searchbar>.input-group-append>button {
	border: 0;
}

.my-searchbar>.input-group-append>button {
	width: 72px;
	background: #F67674;
	background: rgba(246, 118, 116, 0.28);
	color: #A8514D;
	color: rgba(168, 81, 77, 0.54);
	font-size: 26px;
}

.my-searchbar>.input-group-prepend>.dropdown>.dropdown-menu {
	min-width: 216px;
	background: #fff;
	border-radius: 8px;
}

.my-searchbar>.input-group-prepend>.dropdown>.dropdown-toggle {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 216px;
	text-transform: uppercase;
	font-family: Trueno;
	font-size: 21px;
	color: rgba(168, 81, 77, 0.54);
	background: #B6C5CD;
	background: rgba(182, 197, 205, 0.12);
}

.my-searchbar._thin>input.form-control {
	min-width: 61px;
	flex-grow: 1;
	flex-shrink: 1;
}

.my-searchbar._thin>input.form-control,
.my-searchbar._thin>input::placeholder {
	font-size: 16px;
}

.my-searchbar>input.form-control,
.my-searchbar>input::placeholder {
	border: 0;
}

.my-searchbar>input.form-control {
	font-family: Trueno;
	font-size: 21px;
	color: #A8514D;
	color: rgba(168, 81, 77, 0.31);
}

.my-searchbar>input.form-control:focus {
	color: #A8514D;
} */
/* 
.yo-content>.yo-content-header .yo-title {
	line-height: 32px;
}

.yo-content>.yo-content-header {
	height: 42px;
	border-bottom: 1px solid #b6c5cd;
} */
/* 
main>.container {
	width: 87%;
} */
/* 
.row.yo-products>[class^="col"] {
	padding: 33px 12px 0;
}

@media (min-width: 992px) {
	.content>.row.yo-products {
		margin-left: 20px;
	}
} */

/* .yo-title-sm {
	font-size: 12px;
	font-family: 'Raleway';
	opacity: .54;
	font-weight: 700;
} */

/* .category-list-header {
	position: relative;
} */

/* .yo-title {
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 600 !Important;
} */

/* .side-bar .category-list {
	padding: 16px 16px 16px 0;
} */

/* .category-list .list-group-item .card-header {
	background-color: transparent;
} */
/* 
.category-list .list-group-item>a,
.category-list .list-group-item .card-header h5,
.category-list .list-group-item .card-header a {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 16px;
	color: #000;
	transition-duration: .2s;
}

.category-list .list-group-item>a:hover,
.category-list .list-group-item .card-header a:hover {
	background-color: rgba(168, 81, 77, 0.12);
}

.category-list .list-group-item>a,
.category-list .list-group-item .card-header a {
	padding: 10px 20px;
} */

/* main>.container.yo-fluid-container {
	width: 100%;
	padding: 0 61px;
	max-width: 1440px;
}

@media (max-width: 575.98px) {
  main > .container.yo-fluid-container {
    padding:0 16px;
  }
} */
/* 
.yo-checkout-container .checkout-header {
	padding-top: 72px;
}

.yo-cart-list .cart-header,
.yo-checkout-container .checkout-header {
	min-height: 72px;
}

.yo-checkout-container .info-box {
	background-color: rgba(232, 209, 192, 0.28);
	padding: 8px;
}

.yo-cart-list .cart-header .title-box,
.yo-checkout-container .checkout-header .title-box {
	height: 72px;
	padding-left: 42px;
} */

/* .yo-checkout-container .checkout-header .cart-price { */

/* font-size: 21px; */

/* line-height: 36px; */

/* } */
/* 
.yo-cart-list .cart-header .cart-title,
.yo-checkout-container .checkout-header .title {
	line-height: 72px;
	font-size: 24px;
	font-weight: 800;
	font-weight: bolder;
	font-family: 'Raleway';
	padding-left: 42px;
}


.yo-checkout-container .checkout-header {
	padding-top: 72px;
}

.yo-cart-list .cart-header,
.yo-checkout-container .checkout-header {
	min-height: 72px;
}

.yo-checkout-container .info-box {
	background-color: rgba(232, 209, 192, 0.28);
	padding: 8px;
}

.yo-cart-list .cart-header .title-box,
.yo-checkout-container .checkout-header .title-box {
	height: 72px;
	padding-left: 42px;
} */

/* .yo-checkout-container .checkout-header .cart-price { */

/* font-size:21px; */

/* line-height:36px; */

/* } */

/* 
.cart-items .cart-item .card.d-flex {
	background-color: transparent;
	padding: 8px 31px;
	transition: .2s;
}

.cart-items .cart-item .card.d-flex::after {
	content: '';
	position: absolute;
	width: calc(100% - 105px);
	right: 0;
	border-bottom: 1px solid #000;
	opacity: .12;
	bottom: 0;
}

/* .cart-items .cart-item .card.d-flex .card-cta { */

/* } 

.cart-items .cart-item {
	background-color: transparent;
	transition: .2s;
}

.cart-items .cart-item:hover {
	background-color: rgba(232, 209, 192, 0.27);
}

/* .cart-item .yo-cart-item-body { */

/*display:inline-block;*/

/*max-width:148px;*/

/*flex-basis:calc(100% - 240px);*/

/* } 

.cart-item .yo-cart-img-border {
	border-radius: 6px;
}

.cart-item .yo-cart-item-image {
	max-height: 148px;
	width: 148px;
	overflow: hidden;
	border-radius: 6px;
}

.yo-cart-item-body .card-title {
	font-size: 18px;
	font-family: 'Raleway';
	font-weight: 600;
}

.yo-cart-item-body .card-subtitle {
	font-size: 15px;
	font-family: 'Raleway';
	font-weight: normal;
}

.yo-cart-item-body .cart-item-details {
	font-size: 13px;
	line-height: 16px;
	opacity: .54;
	max-height: 32px;
	overflow: hidden;
	font-family: 'Raleway';
	font-weight: normal;
} */
/* 
.yo-checkout-container {
	max-width: 348px;
}

.yo-checkout-container .checkout-details {
	font-family: 'Raleway';
	opacity: .67;
	font-size: 14px;
	font-weight: normal;
} */

/* strong {
	font-weight: bold;
} */
/* 
.bundle-card.horiz {
	width: 342px;
	height: 242px;
}

@media (max-width: 575.98px) {
  .bundle-card.horiz {
		width: 100%;
	}
}

.bundle-card {
	background: #E8D1C0;
	background: rgba(232, 209, 192, 0.87);
	position: relative;
	width: 242px;
	height: 228px;
	overflow: hidden;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.bundle-card>.bundle-image {
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

.bundle-card.horiz .bundle-image>ul {
	grid-template-columns: repeat(3, 1fr);
}

.bundle-image>ul {
	list-style-type: none;
	display: grid;
	height: 100%;
	padding: 0;
	position: relative;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: 50% 50%;
	width: 100%;
}
.bundle-image._even > ul > li {
  grid-area:1 / auto / 3 / auto;
}


.bundle-image._odd>ul>li:nth-child(1) {
	grid-area: 1 / 1 / 2 / 3;
}

.bundle-image>ul>li>img {
	height: 100%;
}

.bundle-image>ul>li {
	position: relative;
	display: block;
	overflow: hidden;
}

.bundle-image._odd>ul>li:nth-child(3) {
	grid-area: 1 / 3 / 3 / 5;
}

.bundle-image._odd>ul>li:nth-child(4) {
	display: none;
}

.horiz .bundle-image._odd>ul>li:nth-child(4) {
	grid-area: 2 / 2 / 3 / 3;
}

.horiz .bundle-image._odd>ul>li:nth-child(2) {
	grid-area: 2 / 1 / 3 / 2;
} */
/* 
.force-center-both {
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	vertical-align: top;
} */
/* 
.bundle-overlay {
	background: #B6C5CD;
	background: rgba(182, 197, 205, 1);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 64px;
	mix-blend-mode: multiply;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bundle-title {
	font-family: Raleway;
	font-weight: 600;
	font-size: 24px;
	display: block;
	color: #FFFFFF;
	line-height: 64px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	z-index: 55;
	width: 100%;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bundle-card:hover .bundle-overlay {
	height: 100%;
	background: #E8D1C0;
	background: rgba(232, 209, 192, 1);
	opacity: 0.81;
	mix-blend-mode: normal;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.bundle-card:hover .bundle-title {
	line-height: 228px;
	color: #fff;
} */

/* .form-group.yo-payment-type .custom-control.custom-radio>label::before,
.form-group.yo-payment-type .custom-control.custom-radio>label::after {
	display: block;
	margin: 8px auto;
	left: inherit;
	position: relative;
}
@media (max-width: 575.98px) {
	.yo-payment-type .custom-control.custom-radio {
		width: calc(50% - 3px);
	}
} */

/* .cart-item .yo-cart-item-body { */

/*display:inline-block;*/

/*max-width:148px;*/

/*flex-basis:calc(100% - 240px);*/

/* } */
/* 
.cart-item._small .yo-cart-item-image {
	max-height: 64px;
	width: 64px;
	border-radius: 0px;
}

.cart-item .yo-cart-item-image {
	max-height: 148px;
	width: 148px;
	overflow: hidden;
	border-radius: 6px;
}

.cart-item._small .yo-cart-item-body .card-title {
	font-size: 14px;
}

.yo-cart-item-body .card-title {
	font-size: 18px;
	font-family: 'Raleway';
	font-weight: 600;
}

.yo-cart-item-body .card-subtitle {
	font-size: 15px;
	font-family: 'Raleway';
	font-weight: normal;
}

.cart-item._small .yo-cart-item-body .card-subtitle {
	font-size: 12px;
} */
/* 
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Raleway';
} */
/* 
.col.product-details-container .product-cta:not(.position-absolute) .js-addToCart.js-btn-absolute {
	display: none;
}

.col.product-details-container .product-cta:not(.position-absolute) .js-addToCart:not(.js-btn-absolute) {
	display: block;
	width: 100%;
}

.col.product-details-container .product-cta.position-absolute .js-addToCart:not(.js-btn-absolute) {
	display: none;
}

.col.product-details-container .product-cta.position-absolute .js-btn-absolute {
	display: block;
	/*width:100%;
}

.col.product-details-container .product-cta.position-absolute .product-variables {
	flex: 0 0 auto;
}

.col.product-details-container .product-cta.position-absolute .my-btn-primary>span {
	display: none;
}

.col.product-details-container .product-cta.position-absolute {
	flex: 0 0 28%;
	right: 0;
	width: 28%;
} */

/* .yo-credit-card {
  border-radius:32px;
  width:378px;
  height:207px;
  box-shadow:1px -8px 28px 4px rgba(96,96,96,0.175);
} */
/* 
#login-box {
  max-width:500px;
  margin:0 auto;
  margin-top:25px !important;
  border-radius:12px;
  overflow:hidden;
  background:white;
  -webkit-box-shadow:0px 6px 30px rgba(0,0,0,0.2);
  -moz-box-shadow:0px 6px 30px rgba(0,0,0,0.2);
  box-shadow:0px 6px 30px rgba(0,0,0,0.2);
}

.login-box-seperator {
  flex:1 0 auto;
  min-width:1px;
  border-top:1px solid #dedfe0;
  height:1px;
} */
