@keyframes yourAnimation { 0% { transform: rotate(0deg) scale(1); }
  6% { transform: rotate(0deg) scale(1.05); }
  17% { transform: rotate(15deg) scale(1.15); }
  30% { transform: rotate(-15deg) scale(1.15); }
  44% { transform: rotate(15deg) scale(1.15); }
  60% { transform: rotate(-15deg) scale(1.15); }
  79% { transform: rotate(15deg) scale(1.15); }
  94% { transform: rotate(0deg) scale(1); } }
/* line 1, ../../../_dev/sass/yo-styles/_typography.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Raleway'; }

/* line 16, ../../../_dev/sass/yo-styles/_typography.scss */
.yo-title-sm { font-size: 12px; font-family: 'Raleway'; opacity: .54; font-weight: 700; }

/* line 23, ../../../_dev/sass/yo-styles/_typography.scss */
.yo-title-lg { font-family: 'Raleway'; font-weight: 800 !Important; }

/* line 28, ../../../_dev/sass/yo-styles/_typography.scss */
.yo-title { font-family: 'Raleway'; font-size: 24px; font-weight: 600 !Important; }

/* line 35, ../../../_dev/sass/yo-styles/_typography.scss */
.form-group [data-form-group]:not(input):not(textarea) { display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; background-color: var(--secondary26); }
/* line 43, ../../../_dev/sass/yo-styles/_typography.scss */
.form-group [data-form-group]:not(input):not(textarea).textarea { min-height: 192px; }

/* line 1, ../../../_dev/sass/yo-styles/_init.scss */
*, :after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 9, ../../../_dev/sass/yo-styles/_init.scss */
body { overflow-x: hidden; }

/* line 13, ../../../_dev/sass/yo-styles/_init.scss */
a { text-decoration: none; }

/* line 17, ../../../_dev/sass/yo-styles/_init.scss */
.word-wrap { word-wrap: normal !Important; }

/* line 21, ../../../_dev/sass/yo-styles/_init.scss */
strong { font-weight: bold; }

/* line 25, ../../../_dev/sass/yo-styles/_init.scss */
footer { z-index: 4; }

/* line 29, ../../../_dev/sass/yo-styles/_init.scss */
header { z-index: 99; }
/* line 32, ../../../_dev/sass/yo-styles/_init.scss */
header > nav { z-index: 5; }
/* line 36, ../../../_dev/sass/yo-styles/_init.scss */
header .img-logo { height: 48px; width: auto; object-fit: cover; }
@media (max-width: 480px) { /* line 36, ../../../_dev/sass/yo-styles/_init.scss */
  header .img-logo { height: 36px; } }
/* line 47, ../../../_dev/sass/yo-styles/_init.scss */
header.yo-header { position: relative; margin-bottom: 42px; }
/* line 52, ../../../_dev/sass/yo-styles/_init.scss */
header.yo-header > .img-underlay { background-color: rgba(246, 118, 116, 0.78); position: absolute; left: 0; top: 0; overflow: hidden; width: 100%; height: 100%; }
/* line 61, ../../../_dev/sass/yo-styles/_init.scss */
header.yo-header > .img-underlay > img { z-index: -1; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; min-height: 100%; object-fit: cover; }
/* line 74, ../../../_dev/sass/yo-styles/_init.scss */
header > .fold-container { padding: 64px 0 36px; z-index: 3; position: relative; }
@media (max-width: 576px) { /* line 74, ../../../_dev/sass/yo-styles/_init.scss */
  header > .fold-container { padding: 36px 0 12px; } }
/* line 83, ../../../_dev/sass/yo-styles/_init.scss */
header > .fold-container .fold-title { margin-bottom: 36px; }

/* line 89, ../../../_dev/sass/yo-styles/_init.scss */
.force-center-both { left: 50%; transform: translate(-50%, -50%); position: relative; top: 50%; vertical-align: top; }

/* line 97, ../../../_dev/sass/yo-styles/_init.scss */
.text-underline { text-decoration: underline; }

/* line 101, ../../../_dev/sass/yo-styles/_init.scss */
.yo-content > .yo-content-header { height: 42px; border-bottom: 1px solid #b6c5cd; }
/* line 105, ../../../_dev/sass/yo-styles/_init.scss */
.yo-content > .yo-content-header .yo-title { line-height: 32px; }

/* line 110, ../../../_dev/sass/yo-styles/_init.scss */
main { max-width: 1440px; margin-left: auto; margin-right: auto; min-height: 80vh; z-index: 55; }
@media (min-width: 1200px) { /* line 117, ../../../_dev/sass/yo-styles/_init.scss */
  main > .container { width: 87%; } }
/* line 122, ../../../_dev/sass/yo-styles/_init.scss */
main > .container.yo-fluid-container { width: 100%; max-width: 1440px; }
@media (min-width: 1200px) { /* line 122, ../../../_dev/sass/yo-styles/_init.scss */
  main > .container.yo-fluid-container { padding: 0 61px; } }
@media (max-width: 575.98px) { /* line 122, ../../../_dev/sass/yo-styles/_init.scss */
  main > .container.yo-fluid-container { padding: 0 16px; } }

/* line 137, ../../../_dev/sass/yo-styles/_init.scss */
.card.product-image { max-width: 64px; }

/* line 141, ../../../_dev/sass/yo-styles/_init.scss */
table > caption { font-size: 12px; }

/* line 145, ../../../_dev/sass/yo-styles/_init.scss */
.txt-toggle-enable { margin-left: 0.5em; }

/* line 149, ../../../_dev/sass/yo-styles/_init.scss */
.load-more { padding-left: 2rem; padding-right: 2rem; }

/* line 155, ../../../_dev/sass/yo-styles/_init.scss */
section#foldSection > .yo-user-bg { top: 0; left: 50%; opacity: .12; overflow: hidden; display: block; z-index: -1; }
/* line 163, ../../../_dev/sass/yo-styles/_init.scss */
section#foldSection > .yo-user-bg > img { top: -50%; filter: blur(16px); }

/* line 172, ../../../_dev/sass/yo-styles/_init.scss */
.badge-secondary[href]:not(.active) i.js-removeFilter { display: none; }
/* line 177, ../../../_dev/sass/yo-styles/_init.scss */
.badge-secondary[href].active { color: rgba(0, 0, 0, 0.78); text-decoration: none; background-color: #e4cdbc; }
/* line 182, ../../../_dev/sass/yo-styles/_init.scss */
.badge-secondary[href].active i.js-removeFilter { color: rgba(0, 0, 0, 0.78); text-decoration: none; background-color: #e4cdbc; }

/* line 190, ../../../_dev/sass/yo-styles/_init.scss */
#login-box { max-width: 500px; margin: 0 auto; margin-top: 25px !important; border-radius: 12px; overflow: hidden; background: white; -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2); box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2); }
@media (max-width: 575.98px) { /* line 190, ../../../_dev/sass/yo-styles/_init.scss */
  #login-box { margin: 0 8px; } }

/* line 206, ../../../_dev/sass/yo-styles/_init.scss */
.login-box-seperator { flex: 1 0 auto; min-width: 1px; border-top: 1px solid #dedfe0; height: 1px; }

/* line 213, ../../../_dev/sass/yo-styles/_init.scss */
.display-3, .display-4 { font-weight: 400; }

/* line 218, ../../../_dev/sass/yo-styles/_init.scss */
.display-4 { font-size: 3.5rem; line-height: 1.2; }

/* line 223, ../../../_dev/sass/yo-styles/_init.scss */
.dashboard-card .card-header { color: #b7c6ce; font-weight: 700; font-size: 14px; }
/* line 228, ../../../_dev/sass/yo-styles/_init.scss */
.dashboard-card .card-header .badge { float: right; }

/* line 233, ../../../_dev/sass/yo-styles/_init.scss */
.notification-button { font-size: 8px; margin-left: -2px; }

/* line 238, ../../../_dev/sass/yo-styles/_init.scss */
.yo-notification-icon { transform-origin: 50% 50%; position: relative; }
/* line 242, ../../../_dev/sass/yo-styles/_init.scss */
.yo-notification-icon.new { animation: yourAnimation 1s infinite 1s ease-in-out; }

/* line 247, ../../../_dev/sass/yo-styles/_init.scss */
.yo-credit-card { border-radius: 32px; width: 378px; height: 207px; box-shadow: 1px -8px 28px 4px rgba(96, 96, 96, 0.175); }
/* line 253, ../../../_dev/sass/yo-styles/_init.scss */
.yo-credit-card:not(.visa-card) { background-color: #94ccd6; background-image: none; }
/* line 258, ../../../_dev/sass/yo-styles/_init.scss */
.yo-credit-card.visa-card { background-color: transparent; background-image: url("../img/cc.png") !important; background: transparent url("../img/cc.png"); background-repeat: no-repeat; background-position: center; background-size: 112% auto; border: 1px solid #b7c6ce; }

/* line 269, ../../../_dev/sass/yo-styles/_init.scss */
.editor { min-height: 10rem; }

/* line 273, ../../../_dev/sass/yo-styles/_init.scss */
.new-info-container { min-height: 100vh; }
/* line 276, ../../../_dev/sass/yo-styles/_init.scss */
.new-info-container .card { max-width: 400px; }

/* line 282, ../../../_dev/sass/yo-styles/_init.scss */
[data-toggle-read-more] { overflow: hidden !important; max-height: 10rem; }

/* line 287, ../../../_dev/sass/yo-styles/_init.scss */
.yo-text-highlight { position: relative; color: var(--green); z-index: 2; display: inline-block; }
/* line 293, ../../../_dev/sass/yo-styles/_init.scss */
.yo-text-highlight::after { height: 100%; display: inline-block; border-radius: 2px; width: 100%; content: ''; box-sizing: content-box; z-index: -1; top: 0; left: -3px; position: absolute; padding: 0px 3px; background-color: #fbe782; }

/* line 1, ../../../_dev/sass/yo-styles/_side-nav.scss */
#wrapper { padding-left: 0; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
/* line 8, ../../../_dev/sass/yo-styles/_side-nav.scss */
#wrapper.toggled { padding-left: 250px; }
/* line 11, ../../../_dev/sass/yo-styles/_side-nav.scss */
#wrapper.toggled #sidebar-wrapper { width: 250px; }
/* line 15, ../../../_dev/sass/yo-styles/_side-nav.scss */
#wrapper.toggled #page-content-wrapper { position: absolute; margin-right: -250px; }

/* line 22, ../../../_dev/sass/yo-styles/_side-nav.scss */
#page-content-wrapper { width: 100%; position: absolute; padding: 15px; }

@media (min-width: 768px) { /* line 29, ../../../_dev/sass/yo-styles/_side-nav.scss */
  #wrapper.toggled { padding-left: 0; }
  /* line 32, ../../../_dev/sass/yo-styles/_side-nav.scss */
  #wrapper.toggled #sidebar-wrapper { width: 0; }
  /* line 36, ../../../_dev/sass/yo-styles/_side-nav.scss */
  #wrapper.toggled #page-content-wrapper { position: relative; margin-right: 0; }
  /* line 42, ../../../_dev/sass/yo-styles/_side-nav.scss */
  #page-content-wrapper { padding: 20px; position: relative; } }
/* line 50, ../../../_dev/sass/yo-styles/_side-nav.scss */
#sidebar-wrapper { z-index: 1000; position: fixed; left: 250px; width: 0; height: 100%; margin-left: -250px; overflow-y: auto; background: #000; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }

@media (min-width: 768px) { /* line 66, ../../../_dev/sass/yo-styles/_side-nav.scss */
  #wrapper { padding-left: 250px; }
  /* line 69, ../../../_dev/sass/yo-styles/_side-nav.scss */
  #sidebar-wrapper { width: 250px; } }
/* line 74, ../../../_dev/sass/yo-styles/_side-nav.scss */
.sidebar-nav { position: absolute; top: 0; width: 250px; margin: 0; padding: 0; list-style: none; }
/* line 82, ../../../_dev/sass/yo-styles/_side-nav.scss */
.sidebar-nav li { text-indent: 20px; line-height: 40px; }
/* line 86, ../../../_dev/sass/yo-styles/_side-nav.scss */
.sidebar-nav li a { font-weight: 300; display: block; color: #fff; padding: .2rem 0; }
/* line 92, ../../../_dev/sass/yo-styles/_side-nav.scss */
.sidebar-nav li a:hover { text-decoration: none; color: #fff; background: #d75f5e; }
/* line 99, ../../../_dev/sass/yo-styles/_side-nav.scss */
.sidebar-nav li.active, .sidebar-nav li.active a:hover { background-color: #a11a18; line-height: 40px; }
/* line 109, ../../../_dev/sass/yo-styles/_side-nav.scss */
.sidebar-nav > .sidebar-brand { height: 65px; font-size: 18px; line-height: 60px; }
/* line 114, ../../../_dev/sass/yo-styles/_side-nav.scss */
.sidebar-nav > .sidebar-brand a { color: #fff; }
/* line 117, ../../../_dev/sass/yo-styles/_side-nav.scss */
.sidebar-nav > .sidebar-brand a:hover { color: #fff; background: 0 0; }

/* line 1, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product { margin-bottom: 40px; }
/* line 4, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container { padding-top: 24px; }
@media (min-width: 576px) { /* line 4, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product .col.product-details-container { padding-top: 18px; margin-left: 24px; } }
/* line 12, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .col.product-variables { overflow-x: visible; }
/* line 17, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-cta.position-absolute { flex: 0 0 28%; right: 0; width: 28%; }
/* line 21, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-cta.position-absolute .js-addToCart:not(.js-btn-absolute) { display: none; }
/* line 25, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-cta.position-absolute .js-btn-absolute { display: block; /*width:100%;*/ }
/* line 30, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-cta.position-absolute .product-variables { flex: 0 0 auto; }
/* line 34, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-cta.position-absolute .my-btn-primary > span { display: none; }
/* line 41, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-cta:not(.position-absolute) .js-addToCart.js-btn-absolute { display: none; }
/* line 45, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-cta:not(.position-absolute) .js-addToCart:not(.js-btn-absolute) { display: block; width: 100%; }
/* line 53, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .col.product-variables, .row.yo-product .col.product-details-container .col.product-details { flex: 0 0 100%; }
/* line 55, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .col.product-variables .yo-title-lg, .row.yo-product .col.product-details-container .col.product-details .yo-title-lg { text-transform: uppercase; }
/* line 59, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .col.product-variables.w-not-responsive, .row.yo-product .col.product-details-container .col.product-details.w-not-responsive { flex: 0 0 72% !important; }
@media (min-width: 601px) { /* line 53, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product .col.product-details-container .col.product-variables, .row.yo-product .col.product-details-container .col.product-details { flex: 0 0 72%; } }
@media (max-width: 600px) { /* line 67, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product .col.product-details-container .col.product-variables.w-not-responsive, .row.yo-product .col.product-details-container .col.product-details.w-not-responsive { flex: 0 0 100% !important; /*width:72% !Important;*/ } }
/* line 74, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-rate { margin-bottom: 10px; }
/* line 77, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-rate .product-ratings li { font-size: 15px; }
/* line 82, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-about { font-size: 14px; font-weight: bold; font-family: 'Raleway'; max-height: 90px; overflow: hidden; }
/* line 91, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-specs { font-size: 18px; font-weight: 200; font-family: 'Raleway'; opacity: .54; height: 28px; }
/* line 101, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-about *, .row.yo-product .col.product-details-container .product-specs * { font: inherit !Important; }
/* line 106, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .product-price { font-size: 28px; font-weight: 500; font-family: 'Raleway'; }
/* line 112, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .col.product-details-container .btn.my-btn-primary.js-addToWishist { border-width: 2px; }
/* line 117, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product > .col.product-img-container { position: relative; max-width: 614px; }
@media (min-width: 992px) { /* line 117, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product > .col.product-img-container { width: 50%; flex: 0 0 50%; } }
@media (min-width: 1200px) { /* line 117, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product > .col.product-img-container { width: 68%; flex: 0 0 68%; }
  /* line 129, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product > .col.product-img-container .img-holder { margin-left: 100px; flex: 0 0 calc(100% - 100px); }
  /* line 134, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product > .col.product-img-container > .product-img-list { margin-left: 100px; } }
@media (max-width: 600px) { /* line 117, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product > .col.product-img-container { width: 100%; flex: 0 0 100%; } }
/* line 143, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product > .col.product-img-container .img-holder { position: relative; height: 478px; z-index: 1; margin-top: 56px; }
@media (max-width: 575.98px) { /* line 143, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product > .col.product-img-container .img-holder { height: 56vh !Important; margin-top: 0 !Important; min-height: 320px; } }
/* line 155, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product > .col.product-img-container .img-holder img { /* float:right; */ max-height: 100%; max-width: 100%; cursor: pointer; }
/* line 161, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product > .col.product-img-container .img-holder img[data-im-orientation="horizontal"] { width: 100%; }
@media (min-width: 992px) { /* line 165, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product > .col.product-img-container .img-holder img[data-im-orientation="vertical"] { height: 100%; } }
@media (min-width: 576px) { /* line 165, ../../../_dev/sass/yo-styles/_single-product.scss */
  .row.yo-product > .col.product-img-container .img-holder img[data-im-orientation="vertical"] { margin-top: -54px; } }
/* line 176, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product > .col.product-img-container > .product-img-list { margin-top: -64px; z-index: 5; margin-left: 32px; position: relative; }
/* line 186, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .product-about + [class^='js-info'].inline-btn { line-height: 18px; padding: 0 16px; border-bottom: 1px solid #f67674; }
/* line 192, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-product .product-about.d-none + .js-infoOpen { display: none; }

/* line 200, ../../../_dev/sass/yo-styles/_single-product.scss */
.row.yo-products > [class|="col"] { padding: 33px 12px 0; }

/* line 205, ../../../_dev/sass/yo-styles/_single-product.scss */
.zoom-lens { position: fixed; width: 100%; display: block; overflow: hidden; background-color: rgba(179, 194, 202, 0.12); height: 70vh; margin-left: 24px; }
/* line 214, ../../../_dev/sass/yo-styles/_single-product.scss */
.zoom-lens > img { position: relative; }

@media (min-width: 992px) { /* line 219, ../../../_dev/sass/yo-styles/_single-product.scss */
  .content > .row.yo-products { margin-left: 20px; } }
/* line 2, ../../../_dev/sass/yo-styles/_checkout-box.scss */
.yo-checkout-container { max-width: 420px; right: 0; }
@media (max-width: 600px) { /* line 2, ../../../_dev/sass/yo-styles/_checkout-box.scss */
  .yo-checkout-container { max-width: 100vw; padding: 0 12px !important; position: fixed !important; bottom: 0 !important; left: 0 !important; background-color: #ffeded; border-top: 1px solid #e7e6e6; z-index: 999; box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }
  /* line 16, ../../../_dev/sass/yo-styles/_checkout-box.scss */
  .yo-checkout-container .checkout-header { padding-top: 16px !important; min-height: 24px !important; margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
  /* line 22, ../../../_dev/sass/yo-styles/_checkout-box.scss */
  .yo-checkout-container .checkout-header .cart-price { font-size: 24px !important; }
  /* line 25, ../../../_dev/sass/yo-styles/_checkout-box.scss */
  .yo-checkout-container .checkout-header h3, .yo-checkout-container .checkout-header h4, .yo-checkout-container .checkout-header h5 { font-size: 18px !important; }
  /* line 31, ../../../_dev/sass/yo-styles/_checkout-box.scss */
  .yo-checkout-container .checkout-body { display: none; }
  /* line 35, ../../../_dev/sass/yo-styles/_checkout-box.scss */
  .yo-checkout-container .checkout-footer { padding: 0 !IMPORTANT; margin: 0 auto !IMPORTANT; }
  /* line 39, ../../../_dev/sass/yo-styles/_checkout-box.scss */
  .yo-checkout-container .checkout-footer > [class^='col-'] { padding: 0 !important; } }
/* line 44, ../../../_dev/sass/yo-styles/_checkout-box.scss */
.yo-checkout-container .checkout-header { padding-top: 72px; min-height: 72px; }
/* line 48, ../../../_dev/sass/yo-styles/_checkout-box.scss */
.yo-checkout-container .checkout-header .title-box { height: 72px; padding-left: 42px; }
/* line 53, ../../../_dev/sass/yo-styles/_checkout-box.scss */
.yo-checkout-container .checkout-header .title { line-height: 72px; font-size: 24px; font-weight: 800; font-family: 'Raleway'; padding-left: 42px; }
/* line 63, ../../../_dev/sass/yo-styles/_checkout-box.scss */
.yo-checkout-container .checkout-details { font-family: 'Raleway'; opacity: .67; font-size: 14px; font-weight: normal; }
/* line 70, ../../../_dev/sass/yo-styles/_checkout-box.scss */
.yo-checkout-container .info-box { background-color: rgba(232, 209, 192, 0.28); padding: 8px; }

/* line 1, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary { background: #F77674; background: #f77674; border: 1px solid #F77674; display: inline-block; text-transform: uppercase; padding: 0 30px; width: initial; box-shadow: none; outline: none; font-size: 18px; line-height: 36px; color: #FFFFFF; color: white; font-family: Trueno; font-weight: bold; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
/* line 20, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary:hover { background: var(--primary87) !important; }
/* line 23, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary:active { color: var(--primary-dark) !important; background: var(--primary12) !important; }
/* line 27, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary > span { font-weight: 300; font-style: italic; }
/* line 32, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary._small { line-height: 13px; padding: 0 5px; font-size: 12px; }
/* line 38, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary.tiny { font-size: 7px; }
/* line 42, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary.bg-light { color: var(--primary); border-color: #fff; }
/* line 47, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary.bg-light:hover { background: var(--light) !important; background-color: var(--light) !important; color: var(--primary) !important; }
/* line 52, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary.bg-light:active { color: var(--primary-dark) !important; }
/* line 57, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary.btn-outline { background-color: transparent !important; color: #F77674; color: #f77674; }
/* line 61, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary.btn-outline:hover { background: rgba(247, 118, 116, 0.54) !important; color: inherit; }
/* line 65, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary.btn-outline.bg-light { color: #fff; border-color: #fff; }
/* line 69, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary.btn-outline.bg-light:hover { color: #fff; }
/* line 73, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.btn.my-btn-primary.btn-outline:active { color: var(--primary-dark) !important; }

/* line 80, ../../../_dev/sass/yo-styles/components/_buttons.scss */
.inline-btn { text-decoration: underline; font-family: Trueno; padding: 0 4px; font-style: italic; font-size: 11px; color: #F77674; color: #f77674; }

/* line 90, ../../../_dev/sass/yo-styles/components/_buttons.scss */
button, [class^='btn'] { text-transform: capitalize; }

/* line 1, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search { padding-top: 8px; position: relative; padding-bottom: 8px; color: #333; max-width: 1440px; }
/* line 9, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search.navbar .navbar-nav .nav-link { padding-left: 18px; padding-right: 18px; }
@media (min-width: 768px) { /* line 13, ../../../_dev/sass/yo-styles/components/_nav.scss */
  .navigation-clean-search.navbar .navbar-nav .nav-link.my-cart { font-size: 32px; padding-top: 2px; padding-bottom: 2px; } }
/* line 24, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search.navbar-light .navbar-nav .nav-link { color: #fff; }
/* line 27, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover, .navigation-clean-search.navbar-light .navbar-nav .nav-link:focus { color: #fff; opacity: 0.78 !important; background-color: transparent; }
/* line 37, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search.navbar-light .user-item:hover { background-color: rgba(229, 82, 79, 0.28); }
/* line 41, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search.navbar-light .user-item .user-name, .navigation-clean-search.navbar-light .user-item .user-name * { color: #fff !important; }
/* line 48, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .user-item { padding-top: 0; padding-bottom: 0; transition-duration: .2s; border-radius: 5px; z-index: 5; }
/* line 55, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .user-item a.user-avatar { padding: 3px 15px; }
/* line 59, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .user-item .user-name { margin: 10px 0 0; }
/* line 63, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .user-item .user-name, .navigation-clean-search .user-item .user-name * { font-weight: 300 !important; }
/* line 68, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .user-item.dropdown-toggle { cursor: pointer; }
/* line 71, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .user-item.dropdown-toggle::after { display: none !important; }
/* line 77, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .navbar-brand { font-weight: bold; color: inherit; }
/* line 81, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .navbar-brand:hover { color: #222; }
/* line 86, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .navbar-toggler { border-color: #ddd; color: #888; }
/* line 90, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .navbar-toggler:hover, .navigation-clean-search .navbar-toggler:focus { background: none; }
/* line 96, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search .navbar-collapse, .navigation-clean-search .form-inline { border-top-color: #ddd; }
/* line 101, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search + .js-fixedNavbar { padding-top: 8px; padding-bottom: 8px; display: flex; z-index: 8; background-color: rgba(0, 0, 0, 0.68); background-color: rgba(0, 0, 0, 0.68); position: absolute; top: 0; }
/* line 111, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navigation-clean-search + .js-fixedNavbar > .js-toggleSearchbar { font-size: 24px; width: 36px; }

@media (min-width: 768px) { /* .navigation-clean-search { */
  /*padding-top:1rem;*/
  /*padding-bottom:1rem;*/
  /* } */ }
/* line 127, ../../../_dev/sass/yo-styles/components/_nav.scss */
nav a:not(.dropdown-item), nav > i { font-size: 24px; color: #fff; }
/* line 133, ../../../_dev/sass/yo-styles/components/_nav.scss */
nav .btn-cta, nav .navbar-nav a { margin-left: 0; }

@media (max-width: 967.98px) { /* line 140, ../../../_dev/sass/yo-styles/components/_nav.scss */
  .navbar-brand { margin-right: 28px; } }
@media (max-width: 576px) { /* line 146, ../../../_dev/sass/yo-styles/components/_nav.scss */
  .navbar-brand { margin-right: 8px; } }
@media (min-width: 968px) { /* line 152, ../../../_dev/sass/yo-styles/components/_nav.scss */
  .navbar-brand { margin-right: 68px; } }
/* line 157, ../../../_dev/sass/yo-styles/components/_nav.scss */
.navbar-brand { font-size: 24px; padding: 0; line-height: 52px; }

@media (min-width: 360px) { /* line 165, ../../../_dev/sass/yo-styles/components/_nav.scss */
  nav .btn-cta, nav .navbar-nav a:not(.dropdown-item) { margin-left: 1rem; } }
@media (min-width: 992px) { /* line 173, ../../../_dev/sass/yo-styles/components/_nav.scss */
  nav .btn-cta, nav .navbar-nav a:not(.dropdown-item) { margin-left: 2rem; } }
/* line 181, ../../../_dev/sass/yo-styles/components/_nav.scss */
.nav-tabs .nav-link.is-invalid { position: relative; color: var(--red); text-decoration: underline; }
/* line 186, ../../../_dev/sass/yo-styles/components/_nav.scss */
.nav-tabs .nav-link.is-invalid::after { content: '  *'; color: inherit; }

/* line 194, ../../../_dev/sass/yo-styles/components/_nav.scss */
.top-bar { color: #495057; background: #f8f9fa; padding: 1rem; font-weight: 300; }

/* line 202, ../../../_dev/sass/yo-styles/components/_nav.scss */
.top-bar .dropdown-item { font-weight: 300; }
/* line 206, ../../../_dev/sass/yo-styles/components/_nav.scss */
.top-bar .topbar-link { color: #495057; text-decoration: none; }
/* line 211, ../../../_dev/sass/yo-styles/components/_nav.scss */
.top-bar .topbar-flag { margin-right: 10px; width: 20px; }
/* line 216, ../../../_dev/sass/yo-styles/components/_nav.scss */
.top-bar .dropdown-menu { margin-top: 1.3rem; }
/* line 220, ../../../_dev/sass/yo-styles/components/_nav.scss */
.top-bar .dropdown-toggle { color: inherit; text-decoration: none; }
/* line 224, ../../../_dev/sass/yo-styles/components/_nav.scss */
.top-bar .dropdown-toggle::after { margin-left: 5px; }
/* line 229, ../../../_dev/sass/yo-styles/components/_nav.scss */
.top-bar .dropdown-item { color: #495057; font-weight: 300; }

/* line 1, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card { background: #E9D2C1; background: #e9d2c1; overflow: hidden; position: relative; max-width: 360px; /* width:234px; */ height: 378px; border-radius: 0px 0px 16px 16px; -moz-border-radius: 0px 0px 16px 16px; -webkit-border-radius: 0px 0px 16px 16px; box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#000000'); }
@media (max-width: 900px) { /* line 1, ../../../_dev/sass/yo-styles/components/_product-card.scss */
  .product-card { height: 418px; margin: 0 auto; } }
/* line 19, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-image { border-style: Solid; border-color: #B7C6CE; border-color: #b7c6ce; border-bottom: 0; border-width: 1px; overflow: hidden; position: relative; width: 100%; height: 220px; z-index: 2; }
/* line 31, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-image > a { z-index: 2; }
/* line 35, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-image img { object-fit: cover; }
/* line 40, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-title { font-family: 'Raleway'; white-space: nowrap; text-align: left; word-wrap: break-word; text-overflow: ellipsis; overflow: hidden; display: block; font-weight: 500; font-size: 16px; line-height: 18px; color: #000000; color: black; }
/* line 55, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-price { font-family: 'Raleway'; font-size: 1.25em; color: #A9514D; color: #a9514d; margin: 0; opacity: 0.78; filter: alpha(opacity=78) progid:DXImageTransform.Microsoft.Alpha(opacity=78); }
/* line 65, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-about { font-family: 'Raleway'; font-size: 13px; color: #000000; color: black; max-height: 33px; overflow-y: hidden; opacity: 0.68; filter: alpha(opacity=54) progid:DXImageTransform.Microsoft.Alpha(opacity=54); }
/* line 78, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-about > .js-infoClose.inline-btn { left: 15px; bottom: 3px; text-align: left; /*background-color:rgba(255,255,255,0.87);*/ float: left; }
/* line 86, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-about > .js-infoOpen.inline-btn { right: 15px; bottom: 4px; text-align: right; background-color: rgba(255, 255, 255, 0.87); float: right; }
/* line 95, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info { background: #FFFFFF; background: white; border-style: Solid; border-color: #B7C6CE; border-color: #b7c6ce; border-width: 1px; border-bottom: 0px; position: absolute; left: 0px; bottom: 0px; top: 220px; z-index: 3; width: 100%; border-radius: 0px 0px 16px 16px; -moz-border-radius: 0px 0px 16px 16px; -webkit-border-radius: 0px 0px 16px 16px; filter: alpha(opacity=88) progid:DXImageTransform.Microsoft.Alpha(opacity=88); background-color: #ffffff; transition-duration: .2s; }
/* line 117, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info:not(.info-open) .pr-about > .js-infoClose.inline-btn { display: none; }
/* line 122, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info.info-open { top: 110px !Important; transition-duration: .33s; }
/* line 126, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info.info-open .pr-title { line-height: initial; }
/* line 130, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info.info-open .pr-about { max-height: 132px; overflow-y: auto; opacity: 0.87; }
/* line 135, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info.info-open .pr-about > .js-infoOpen.inline-btn { display: none; }
/* line 140, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info.info-open > .info { padding-top: 10px; }
/* line 147, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info:not(._small) > .info { height: calc(100% - 66px); }
/* line 152, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info > .info { padding: 6px 15px 6px 15px; width: 100%; z-index: 77; background-color: rgba(255, 255, 255, 0.87); }
@media (max-width: 900px) { /* line 152, ../../../_dev/sass/yo-styles/components/_product-card.scss */
  .product-card .pr-info > .info { height: calc(100% - 106px); } }
/* line 163, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info > .info-bg { position: absolute; left: 0; z-index: 0; top: 0; overflow: hidden; filter: blur(20px); width: 100%; height: 100%; border-radius: 0px 0px 16px 16px; -moz-border-radius: 0px 0px 16px 16px; -webkit-border-radius: 0px 0px 16px 16px; }
/* line 176, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-info > .info-bg > img { display: block; height: auto; min-height: 100%; max-width: 112%; }
/* line 185, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-action { height: 66px; position: absolute; bottom: 0; width: 100%; border-radius: 0px 0px 16px 16px; z-index: 5; background-color: rgba(255, 255, 255, 0.87); border: 1px solid #b7c6ce; border-top: 0px; }
@media (max-width: 900px) { /* line 185, ../../../_dev/sass/yo-styles/components/_product-card.scss */
  .product-card .pr-action { height: 106px; }
  /* line 199, ../../../_dev/sass/yo-styles/components/_product-card.scss */
  .product-card .pr-action .btn[class*="js-add"] { width: 100%; } }
/* line 204, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-action .row.pr-action-row { padding: 5px 0; }
/* line 208, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-action > .pr-seller { background: #B7C6CE; background: rgba(183, 198, 206, 0.18); position: relative; width: 100%; display: block; height: 25px; padding: 2px 15px; border-radius: 0px 0px 16px 16px; -moz-border-radius: 0px 0px 16px 16px; -webkit-border-radius: 0px 0px 16px 16px; filter: alpha(opacity=18) progid:DXImageTransform.Microsoft.Alpha(opacity=18); }
/* line 221, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .pr-action > .pr-seller > span { font-family: Raleway; font-size: 11px; line-height: 21px; color: #000000; color: black; opacity: 0.54; filter: alpha(opacity=56) progid:DXImageTransform.Microsoft.Alpha(opacity=56); }
/* line 233, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .popover { z-index: 555; }
/* line 235, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card .popover .popover-header { color: rgba(0, 0, 0, 0.87); }
/* line 239, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small { max-width: 314px; height: 220px; border-radius: 0px 0px 8px 8px; -moz-border-radius: 0px 0px 8px 8px; -webkit-border-radius: 0px 0px 8px 8px; }
/* line 247, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small .pr-image { height: 158px; }
/* line 251, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small .pr-info { top: 158px; border-radius: 0px 0px 8px 8px; -moz-border-radius: 0px 0px 8px 8px; -webkit-border-radius: 0px 0px 8px 8px; background-color: rgba(255, 255, 255, 0.87); }
/* line 259, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small .pr-title { font-size: 13px; line-height: inherit; }
/* line 264, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small .pr-price { font-size: 10px; padding-bottom: 3px; }
/* line 269, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small .product-ratings { padding: 0; }
/* line 273, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small .pr-action { top: 0; width: 100%; height: 24px; background-color: rgba(255, 255, 255, 0.54); }
/* line 279, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small .pr-action a.btn-inline { font-size: 14px; line-height: 24px; }
/* line 283, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small .pr-action a.btn-inline:hover { background-color: rgba(255, 255, 255, 0.54); line-height: 24px; }
/* line 291, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small::hover .pr-action { height: 28px; }
/* line 294, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.product-card._small::hover .pr-action a.btn-inline { padding: 2px; }

/* line 303, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.user-info._prc { margin: 0 8px; }
/* line 307, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.user-info > .user-im { background: #B7C6CE; position: relative; background: #b7c6ce; width: 21px; overflow: hidden; height: 21px; }
/* line 315, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.user-info > .user-im > img { height: 100%; }
/* line 320, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.user-info > .user-about { padding: 0 8px; color: #000000; color: black; font-family: Trueno; font-style: italic; }
/* line 327, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.user-info > .user-about .user-name { font-family: inherit; font-style: inherit; line-height: 10px; font-size: 8px; color: inherit; opacity: 0.78; filter: alpha(opacity=78) progid:DXImageTransform.Microsoft.Alpha(opacity=78); }
/* line 337, ../../../_dev/sass/yo-styles/components/_product-card.scss */
.user-info > .user-about > .user-about-info { font-family: inherit; font-style: inherit; font-size: 6px; color: inherit; opacity: 0.54; filter: alpha(opacity=54) progid:DXImageTransform.Microsoft.Alpha(opacity=54); }

/* line 1, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card { background: #E8D1C0; background: rgba(232, 209, 192, 0.87); position: relative; display: block; height: 228px; overflow: hidden; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
@media (min-width: 900px) { /* line 1, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
  .bundle-card { width: 242px; } }
/* line 16, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card > .bundle-image { width: 100%; height: 100%; z-index: 0; overflow: hidden; }
/* line 23, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card .bundle-overlay { background-color: rgba(13, 13, 13, 0.36); position: absolute; left: 0; bottom: 0; width: 100%; min-height: 64px; border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; transition-duration: .25s; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
/* line 37, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card .bundle-overlay .bundle-title { position: relative !important; }
/* line 43, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card .bundle-title { font-family: Raleway; font-weight: 600; font-size: 24px; color: var(--light); line-height: 32px; text-transform: uppercase; position: absolute; bottom: 0; z-index: 55; width: 100%; transition-duration: .3s; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
/* line 58, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card.horiz { width: 342px; height: 242px; }
@media (max-width: 575.98px) { /* line 58, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
  .bundle-card.horiz { width: 100%; } }
/* line 78, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card.horiz .bundle-image._odd > ul > li:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
/* line 82, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card.horiz .bundle-image._odd > ul > li:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
/* line 92, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card:hover .bundle-overlay { height: 100%; background: #E8D1C0; background: rgba(232, 209, 192, 0.86); mix-blend-mode: normal; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
/* line 101, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card:hover .bundle-overlay .bundle-title { line-height: 1.2em; }
/* line 106, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-card:hover .bundle-title { color: #fff; }

/* line 116, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-image._even > ul > li { grid-area: 1 / auto / 3 / auto; }
/* line 124, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-image._odd > ul > li:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }
/* line 128, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-image._odd > ul > li:nth-child(3) { grid-area: 1 / 3 / 3 / 5; }
/* line 132, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-image._odd > ul > li:nth-child(4) { display: none; }
/* line 136, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-image._odd > ul > li img { width: 100%; }
/* line 143, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-image > img { width: 100%; height: 100%; object-fit: cover; }
/* line 149, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-image > ul { list-style-type: none; display: grid; height: 100%; padding: 0; position: relative; grid-template-columns: auto; grid-template-rows: 50% 50%; width: 100%; }
/* line 161, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-image > ul > li { position: relative; display: block; overflow: hidden; }
/* line 166, ../../../_dev/sass/yo-styles/components/_bundle-card.scss */
.bundle-image > ul > li > img { object-fit: cover; height: 100%; }

/* line 1, ../../../_dev/sass/yo-styles/components/_icons.scss */
.yo-cart-icon > span { position: absolute; font-size: 0.5em; border-radius: 50%; height: 2em; width: 2em; font-weight: 200; font-family: 'Raleway'; top: -0.75em; /*color:#fff;*/ line-height: 2em; }

/* line 2, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item { padding: 10px; position: relative; }
/* line 6, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item a.user-avatar { float: left; padding: 10px 15px; }
/* line 10, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item a.user-avatar > img { height: 46px; width: 46px; object-fit: cover; }
/* line 16, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item a.user-avatar.yo-edit { position: relative; }
/* line 19, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item a.user-avatar.yo-edit::after { position: absolute; content: '\01F589'; right: 16px; bottom: 16px; width: 28px; height: 28px; line-height: 28px; color: #1A252F; background-color: #edf7f8; border: 1px solid rgba(26, 37, 47, 0.26); border-radius: 50%; font-weight: 600; text-align: center; }
/* line 37, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item .user-name { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 15px 0 0; text-transform: capitalize; }
/* line 44, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item .user-name a { color: #5d6569; text-decoration: none; font-weight: bold; font-family: trueno; }
/* line 51, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item .user-name span { font-size: 11px; color: #808d93; padding-top: 4px; }
/* line 58, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item a.user-delete { background-color: #de4a4a; border-radius: 50%; color: #fff; font-size: 10px; line-height: 23px; width: 22px; height: 22px; top: 0; right: 0px; text-decoration: none; }
/* line 73, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item.item-large a.user-avatar > img { height: 86px; width: 86px; }
/* line 79, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item.item-large .user-name { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 24px 0 0; font-size: 2rem; }
/* line 86, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item.item-large .user-name span { font-size: 18px; }
/* line 91, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item.item-large a.user-delete { display: none; }
/* line 96, ../../../_dev/sass/yo-styles/components/_user-info.scss */
.user-item div.user-container { text-align: left; font: normal 14px 'Raleway'; /*background-color:#f4f8fa;*/ /*border:1px solid #dbe3e7;*/ /*box-shadow:0 2px 3px #dbe3e7;*/ padding-right: 24px; overflow: hidden; }

@media (max-width: 1200px) { /* line 108, ../../../_dev/sass/yo-styles/components/_user-info.scss */
  header nav .user-item { padding: 0 !important; } }
@media (max-width: 1200px) { /* line 113, ../../../_dev/sass/yo-styles/components/_user-info.scss */
  header nav .user-item .user-container { padding: 0 !important; } }
@media (max-width: 1200px) { /* line 119, ../../../_dev/sass/yo-styles/components/_user-info.scss */
  header nav .user-item .user-name { display: none !important; } }
@media (max-width: 1200px) { /* line 125, ../../../_dev/sass/yo-styles/components/_user-info.scss */
  header nav .user-item a.user-avatar { float: none !important; padding: 3px 16px 3px 0px !important; } }

/* line 1, ../../../_dev/sass/yo-styles/components/_ratings.scss */
a.yo-rating-link { text-decoration: none !important; }
/* line 4, ../../../_dev/sass/yo-styles/components/_ratings.scss */
a.yo-rating-link ul.product-ratings { list-style-type: none; line-height: 0px; margin: 0; padding: 0; padding-bottom: 4px; }
/* line 10, ../../../_dev/sass/yo-styles/components/_ratings.scss */
a.yo-rating-link ul.product-ratings li { display: inline-block; font-size: 0.8rem; line-height: 11px; }

/* line 3, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item { background-color: transparent; transition: .2s; position: relative; }
/* line 8, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item:hover, .cart-items .cart-item.active { background-color: rgba(232, 209, 192, 0.27); }
/* line 13, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item:not(.is_not).is_not .card { display: none !important; }
/* line 16, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item:not(.is_not) .item-overlay { display: none !important; }
/* line 21, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item.is_not { display: flex; justify-content: space-around; align-items: center; background-color: rgba(255, 255, 255, 0.24); box-sizing: border-box; }
/* line 28, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item.is_not .item-overlay { z-index: 1050; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* line 37, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item.is_not .card { filter: blur(12px); opacity: 0.54; }
/* line 43, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item .card.d-flex { background-color: transparent; padding: 8px 31px; transition: .2s; }
@media (max-width: 576px) { /* line 43, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
  .cart-items .cart-item .card.d-flex { padding: 24px; } }
/* line 52, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item .card.d-flex::after { content: ''; position: absolute; width: calc(100% - 105px); right: 0; border-bottom: 1px solid #000; opacity: .12; bottom: 0; }
/* line 62, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item .card.d-flex .card-action.position-absolute { position: absolute; right: 12px; top: 12px; cursor: pointer; }
/* line 71, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-items .cart-item.is_not, .cart-items .cart-item .card.d-flex { padding: 8px 31px; transition: .2s; }
@media (max-width: 576px) { /* line 71, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
  .cart-items .cart-item.is_not, .cart-items .cart-item .card.d-flex { padding: 24px; } }

/* line 83, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item .yo-cart-item-image { height: 148px; width: 148px; overflow: hidden; border-radius: 6px; }
/* line 89, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item .yo-cart-item-image > img { border-radius: 6px; }
/* line 95, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item .yo-cart-item-body .card-title { font-size: 18px; font-weight: 600; }
/* line 100, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item .yo-cart-item-body .card-subtitle { font-size: 15px; font-weight: normal; }
/* line 105, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item .yo-cart-item-body .cart-item-details { font-size: 13px; opacity: .54; font-weight: normal; max-height: 38px; overflow: hidden; }
/* line 112, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item .yo-cart-item-body .cart-item-details * { margin: 0 !important; font: inherit !important; }
/* line 118, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item .yo-cart-item-body .card-title, .cart-item .yo-cart-item-body .card-subtitle, .cart-item .yo-cart-item-body .cart-item-details { font-family: 'Raleway'; }
/* line 124, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item .yo-cart-img-border { border-radius: 6px; }
/* line 129, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item._small .yo-cart-item-image { max-height: 64px; width: 64px; }
/* line 133, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item._small .yo-cart-item-image > img { border-radius: 0; }
/* line 139, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item._small .yo-cart-item-body .card-title { font-size: 14px; }
/* line 143, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item._small .yo-cart-item-body .card-subtitle { font-size: 12px; }
/* line 149, ../../../_dev/sass/yo-styles/components/_cart-item.scss */
.cart-item.slide-out { transform: translateX(-100vw); }

/* line 4, ../../../_dev/sass/yo-styles/components/_yo-steps.scss */
.yo-steps .yo-step-row._3-step .yo-step { width: 33.3%; }
/* line 8, ../../../_dev/sass/yo-styles/components/_yo-steps.scss */
.yo-steps .yo-step-row._5-step .yo-step { width: 20%; }
/* line 12, ../../../_dev/sass/yo-styles/components/_yo-steps.scss */
.yo-steps .yo-step-row::before { top: 14px; bottom: 0; position: absolute; content: " "; width: 100%; height: 1px; background-color: #ccc; z-index: 0; }
/* line 25, ../../../_dev/sass/yo-styles/components/_yo-steps.scss */
.yo-steps .yo-step-row .yo-step p { margin-top: 10px; }
/* line 28, ../../../_dev/sass/yo-styles/components/_yo-steps.scss */
.yo-steps .yo-step-row .yo-step button[disabled] { opacity: 1 !important; filter: alpha(opacity=100) !important; }
/* line 33, ../../../_dev/sass/yo-styles/components/_yo-steps.scss */
.yo-steps .yo-step-row .yo-step .btn-circle { width: 30px; height: 30px; text-align: center; padding: 6px 0; font-size: 12px; line-height: 1.428571429; border-radius: 15px; }

/* line 1, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown { min-height: 65px; max-height: 250px; overflow-y: auto; width: 87%; z-index: 77; background-color: #fff; border-radius: 8px; margin-top: 2px; margin-right: 1rem; box-sizing: content-box; padding: 10px .5rem 5px; flex-direction: column; }
/* line 16, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown.show { display: flex !important; }
/* line 20, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown:not(.show) { display: none !important; }
/* line 24, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown:not(.position-absolute) { position: absolute !important; }
/* line 29, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown > p { font-size: 24px; line-height: 50px; text-align: center; width: 100%; }
/* line 35, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown .dropdown-item { display: flex; padding: 0 !important; flex-grow: 1; }
/* line 40, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown .dropdown-item:last-child { border-bottom: 0 !important; }
/* line 44, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown .dropdown-item.js-dataInputs { cursor: pointer; }
/* line 47, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown .dropdown-item > p, .yo-dropdown .dropdown-item > span { line-height: 50px; font-size: 24px; margin: 0; }
/* line 53, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown .dropdown-item > span { flex-grow: 1; width: 50%; }

/* line 60, ../../../_dev/sass/yo-styles/components/_yo-dropdown.scss */
.yo-dropdown-select { max-height: 50vh; overflow-y: scroll; }

/* line 1, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_previewholder { left: 0; top: 0; z-index: 99; position: absolute; display: none; width: 300px; height: 300px; background-color: transparent; background-position: 50% 50%; background-repeat: no-repeat; transform: translateZ(0); -webkit-transform: translateZ(0); }
/* line 14, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_previewholder .image_wrap { left: 0; top: 0; z-index: 99; position: absolute; width: 100%; height: 100%; overflow: hidden; background: #fff; box-shadow: 0 1rem 3rem rgba(92, 99, 105, 0.68); }
/* line 25, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_previewholder .overlay { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-clip: padding-box; z-index: 1; }
/* line 34, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_previewholder img { display: block; position: absolute; left: 0; top: 0; }
/* line 40, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_previewholder .caption-wrap { position: absolute; top: 100%; left: 0; z-index: 101; width: 100%; margin: 0; padding: 0; font-size: 11px; color: #090808; border-radius: 0 0 7px 7px; }
/* line 51, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_previewholder .caption-wrap .caption { padding: 5px 10px; font-size: 11px; border-radius: 0 0 7px 7px; background: #fff; }
/* line 58, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_previewholder.zp-visible { display: block; }
/* line 62, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_previewholder.rounded .image_wrap { border: 0 solid #7bccfc; border-radius: 50%; background-clip: padding-box; }
/* line 67, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_previewholder.rounded .overlay { border-radius: 50%; box-shadow: inset 0 0 20px 7px #fff; }

/* line 74, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_image_overlay { background: red; position: absolute; z-index: 100; filter: alpha(opacity=1); opacity: 0.01; }
/* line 80, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_image_overlay .eyelet { background: rgba(0, 0, 0, 0.2); position: absolute; left: 0; top: 0; }
/* line 86, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
#zoomple_image_overlay.preview { background: black; filter: alpha(opacity=50); opacity: 0.5; }

/* line 93, ../../../_dev/sass/yo-styles/components/_zoomple.scss */
.marquee { filter: alpha(opacity=100); }

/*!
 * Toastify js 1.2.2
 * https://github.com/apvarun/toastify-js
 * @license MIT licensed
 *
 * Copyright (C) 2018 Varun A P
 */
/* line 9, ../../../_dev/sass/yo-styles/components/_toastify.scss */
.toastify { padding: 12px 20px; color: #ffffff; display: inline-block; box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3); background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5); background: linear-gradient(135deg, #73a5ff, #5477f5); position: fixed; opacity: 0; transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); border-radius: 2px; cursor: pointer; text-decoration: none; max-width: calc(50% - 20px); z-index: 1070; }

/* line 26, ../../../_dev/sass/yo-styles/components/_toastify.scss */
.toastify.on { opacity: 1; }

/* line 30, ../../../_dev/sass/yo-styles/components/_toastify.scss */
.toast-close { opacity: 0.4; padding: 0 5px; }

/* line 35, ../../../_dev/sass/yo-styles/components/_toastify.scss */
.toastify-right { right: 15px; }

/* line 39, ../../../_dev/sass/yo-styles/components/_toastify.scss */
.toastify-left { left: 15px; }

/* line 43, ../../../_dev/sass/yo-styles/components/_toastify.scss */
.toastify-top { top: -150px; }

/* line 47, ../../../_dev/sass/yo-styles/components/_toastify.scss */
.toastify-bottom { bottom: -150px; }

/* line 51, ../../../_dev/sass/yo-styles/components/_toastify.scss */
.toastify-rounded { border-radius: 25px; }

/* line 55, ../../../_dev/sass/yo-styles/components/_toastify.scss */
.toastify-avatar { width: 1.5em; height: 1.5em; margin: 0 5px; border-radius: 2px; }

@media only screen and (max-width: 360px) { /* line 64, ../../../_dev/sass/yo-styles/components/_toastify.scss */
  .toastify-right, .toastify-left { margin-left: auto; margin-right: auto; left: 0; right: 0; max-width: fit-content; } }
/* line 1, ../../../_dev/sass/yo-styles/components/_slideout.scss */
body { width: 100%; height: 100%; }

/* line 5, ../../../_dev/sass/yo-styles/components/_slideout.scss */
#slideout-body { z-index: 2; }

/* line 8, ../../../_dev/sass/yo-styles/components/_slideout.scss */
#slide-out-content { z-index: 0; }

/* line 11, ../../../_dev/sass/yo-styles/components/_slideout.scss */
.slideout-menu { position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 0; width: 320px; overflow-y: scroll; -webkit-overflow-scrolling: touch; display: none; }

/* line 24, ../../../_dev/sass/yo-styles/components/_slideout.scss */
.slideout-panel { position: relative; z-index: 1; will-change: transform; }

/* line 30, ../../../_dev/sass/yo-styles/components/_slideout.scss */
.slideout-open, .slideout-open body, .slideout-open .slideout-panel { overflow: hidden; }

/* line 36, ../../../_dev/sass/yo-styles/components/_slideout.scss */
.slideout-open .slideout-menu { display: block; }

/* line 1, ../../../_dev/sass/yo-styles/components/_review.scss */
.review-item { margin-bottom: 12px; }
/* line 4, ../../../_dev/sass/yo-styles/components/_review.scss */
.review-item p.review { font-size: 0.95rem; }
/* line 8, ../../../_dev/sass/yo-styles/components/_review.scss */
.review-item > .review-footer { position: relative; display: block; }
/* line 14, ../../../_dev/sass/yo-styles/components/_review.scss */
.review-item.highlight-review .review { font-size: 1.25rem; font-weight: 600; line-height: 1.3; text-align: center; }

/* line 1, ../../../_dev/sass/yo-styles/components/_empty-box.scss */
.empty-box { min-height: 30vh; border-radius: 15px; margin-bottom: 32px; }
/* line 6, ../../../_dev/sass/yo-styles/components/_empty-box.scss */
.empty-box * { z-index: 4; }
/* line 10, ../../../_dev/sass/yo-styles/components/_empty-box.scss */
.empty-box h1, .empty-box h2, .empty-box h3, .empty-box h4, .empty-box h5, .empty-box h6, .empty-box p { color: var(--primary-dark) !important; }
/* line 15, ../../../_dev/sass/yo-styles/components/_empty-box.scss */
.empty-boxbg h1, .empty-boxbg h2, .empty-boxbg h3, .empty-boxbg h4, .empty-boxbg h5, .empty-boxbg h6, .empty-boxbg p { color: var(--secondary12) !important; }
/* line 18, ../../../_dev/sass/yo-styles/components/_empty-box.scss */
.empty-boxbg::before { content: ''; position: absolute; width: 100%; height: 100%; background-color: #fff; opacity: 0.54; z-index: 0; }

/* line 2, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.product-img-list .product-img { margin-right: 8px; margin-bottom: 8px; }
/* line 7, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.product-img-list .product-img > input:checked ~ label::after { opacity: 0.54; background-image: none !Important; }
/* line 13, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.product-img-list .product-img > label { width: 64px; position: relative; height: 64px; cursor: pointer; }
/* line 19, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.product-img-list .product-img > label::after { width: 72px; z-index: -1; height: 72px; left: -4px; top: -4px; border-radius: 4px; background-color: #b3c2ca; opacity: 0; }
/* line 30, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.product-img-list .product-img > label::before { display: none; }
/* line 34, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.product-img-list .product-img > label > .img { overflow: hidden; width: 100%; height: 100%; }
/* line 39, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.product-img-list .product-img > label > .img > img { width: 100%; min-height: 100%; position: relative; object-fit: cover; left: 50%; top: 50%; transform: translate(-50%, -50%); }

/* line 53, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.side-bar .category-list { padding: 16px 16px 16px 0; }

/* line 59, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.category-list .list-group-item > a, .category-list .list-group-item .card-header h5, .category-list .list-group-item .card-header a { font-family: 'Raleway'; font-weight: 400; font-size: 16px; color: #000; transition-duration: .2s; }
/* line 67, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.category-list .list-group-item > a, .category-list .list-group-item .card-header a { padding: 10px 20px; }
/* line 70, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.category-list .list-group-item > a:hover, .category-list .list-group-item .card-header a:hover { background-color: rgba(168, 81, 77, 0.12); }
/* line 74, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.category-list .list-group-item .card-header { background-color: transparent; }

/* line 80, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.filter-list .form-group:not(last-child) { padding-bottom: .5rem; border-bottom: 1px solid #f7f7f7; }

/* line 85, ../../../_dev/sass/yo-styles/components/lists/_lists.scss */
.yo-badge-list { padding-right: 100px; }

/* line 1, ../../../_dev/sass/yo-styles/components/lists/_cart-list.scss */
.yo-cart-list { max-width: 1012px; min-height: 49vh; }
@media (min-width: 1200px) { /* line 1, ../../../_dev/sass/yo-styles/components/lists/_cart-list.scss */
  .yo-cart-list { padding-left: 46px; margin-right: 46px; } }
/* line 10, ../../../_dev/sass/yo-styles/components/lists/_cart-list.scss */
.yo-cart-list .cart-header { min-height: 72px; }
/* line 13, ../../../_dev/sass/yo-styles/components/lists/_cart-list.scss */
.yo-cart-list .cart-header .cart-title { line-height: 72px; font-size: 24px; font-weight: 800; font-weight: bolder; font-family: 'Raleway'; padding-left: 42px; }
/* line 22, ../../../_dev/sass/yo-styles/components/lists/_cart-list.scss */
.yo-cart-list .cart-header .title-box { height: 72px; padding-left: 42px; }
/* line 28, ../../../_dev/sass/yo-styles/components/lists/_cart-list.scss */
.yo-cart-list .cart-items { perspective: 3000; }

/* line 3, ../../../_dev/sass/yo-styles/components/lists/_notification-list.scss */
.notification-list .notification-item .timeline-spot { border: 3px solid #888; height: 16px; margin-right: -9px; width: 16px; border-radius: 50%; }
/* line 12, ../../../_dev/sass/yo-styles/components/lists/_notification-list.scss */
.notification-list .notification-item .card > .card-body { transition-duration: .3s; }
/* line 14, ../../../_dev/sass/yo-styles/components/lists/_notification-list.scss */
.notification-list .notification-item .card > .card-body:hover { background-color: var(--info12); }

/* line 2, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo { background: #f1f7fc; padding: 80px 0; }
/* line 6, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo .image-holder { display: table-cell; width: auto; background: url(../../assets/img/meeting.jpg); background-size: cover; }
/* line 13, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo .form-container { display: table; max-width: 900px; width: 90%; margin: 0 auto; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }
/* line 21, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo form { display: table-cell; width: 400px; background-color: #ffffff; padding: 40px 60px; color: #505e6c; }
@media (max-width: 991px) { /* line 21, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
  .register-photo form { padding: 40px; } }
/* line 32, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo form h2 { font-size: 24px; line-height: 1.5; margin-bottom: 30px; }
/* line 38, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo form .form-control { background: #f7f9fc; border: none; border-bottom: 1px solid #dfe7f1; border-radius: 0; box-shadow: none; outline: none; color: inherit; text-indent: 6px; height: 40px; }
/* line 50, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo form .form-check { font-size: 13px; line-height: 20px; }
/* line 55, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo form .btn-primary { background: #f4476b; border: none; border-radius: 4px; padding: 11px; box-shadow: none; margin-top: 35px; text-shadow: none; outline: none !important; }
/* line 65, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo form .btn-primary:active { transform: translateY(1px); }
/* line 69, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active { background: #eb3b60; }
/* line 74, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.register-photo form .already { display: block; text-align: center; font-size: 12px; color: #6f7a85; opacity: 0.9; text-decoration: none; }

/* line 86, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
label.is-invalid { position: relative; }
/* line 88, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
label.is-invalid::after { content: '  *'; color: var(--red); }

/* line 98, ../../../_dev/sass/yo-styles/components/inputs/_inits.scss */
.password-revealer { cursor: pointer; }

/* line 1, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar { background: #FFFFFF; background: white; max-width: 742px; height: 3.5rem; line-height: 3.5rem; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -webkit-box-shadow: 0px 3px 16px -8px rgba(87, 86, 87, 0.26); -moz-box-shadow: 0px 3px 16px -8px rgba(87, 86, 87, 0.26); box-shadow: 0px 3px 16px -8px rgba(87, 86, 87, 0.26); }
/* line 13, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar > input.form-control { font-family: Trueno; font-size: 21px; color: #A8514D; color: rgba(168, 81, 77, 0.31); }
/* line 19, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar > input.form-control:focus { color: #A8514D; }
/* line 27, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar > .input-group-prepend .dropdown > .dropdown-menu { min-width: 216px; background: #fff; border-radius: 8px; }
/* line 32, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar > .input-group-prepend .dropdown > .dropdown-toggle { border-top-right-radius: 0px; border-bottom-right-radius: 0px; width: 216px; text-transform: uppercase; font-family: Trueno; font-size: 21px; color: rgba(168, 81, 77, 0.54); background: #B6C5CD; background: rgba(182, 197, 205, 0.12); line-height: inherit; }
/* line 47, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar > .input-group-prepend .dropdown > button { padding: 0 0.75rem; }
/* line 55, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar > .input-group-append > button { width: 72px; background: #F67674; background: rgba(246, 118, 116, 0.28); color: #A8514D; color: rgba(168, 81, 77, 0.54); font-size: 26px; line-height: inherit; padding: 0 0.75rem; }
/* line 67, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar._thin { max-width: 636px; height: 52px; flex-grow: 1; flex-shrink: 1; line-height: 52px; }
/* line 74, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar._thin > input.form-control { min-width: 61px; flex-grow: 1; flex-shrink: 1; font-size: 16px; }
/* line 80, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar._thin > input.form-control::placeholder { font-size: 16px; border: 0; }
/* line 88, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar._thin > .input-group-prepend .dropdown > .dropdown-menu { min-width: 176px; }
/* line 91, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar._thin > .input-group-prepend .dropdown > .dropdown-toggle { max-width: 176px; width: 140px; font-size: 12px; }
/* line 100, ../../../_dev/sass/yo-styles/components/inputs/_searchbar.scss */
.my-searchbar._thin > .input-group-append > button { width: 52px; font-size: 21px; }

/* line 4, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.form-group.yo-product-variable.yo-color, .form-group.yo-product-variable.yo-size { padding-left: 8px; }
/* line 7, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.form-group.yo-product-variable.yo-color > .yo-size-list, .form-group.yo-product-variable.yo-color > .yo-color-list, .form-group.yo-product-variable.yo-size > .yo-size-list, .form-group.yo-product-variable.yo-size > .yo-color-list { margin-left: -8px; }
/* line 11, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.form-group.yo-product-variable.yo-color .custom-radio, .form-group.yo-product-variable.yo-size .custom-radio { width: 36px; margin-right: 6px; min-height: 36px; }
/* line 18, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.form-group.yo-product-variable.yo-color .custom-radio input:checked ~ label::after, .form-group.yo-product-variable.yo-size .custom-radio input:checked ~ label::after { background-image: none; }
/* line 23, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.form-group.yo-product-variable.yo-color .custom-radio input ~ label.custom-control-label, .form-group.yo-product-variable.yo-size .custom-radio input ~ label.custom-control-label { transition-duration: .2s; }
/* line 26, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.form-group.yo-product-variable.yo-color .custom-radio input ~ label.custom-control-label::after, .form-group.yo-product-variable.yo-color .custom-radio input ~ label.custom-control-label::before, .form-group.yo-product-variable.yo-size .custom-radio input ~ label.custom-control-label::after, .form-group.yo-product-variable.yo-size .custom-radio input ~ label.custom-control-label::before { transition-duration: inherit; top: 0; left: 0; width: 36px; height: 36px; border-radius: 50%; z-index: -1; cursor: pointer; border: 1px solid transparent; }
/* line 41, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.form-group.yo-product-variable.d-inline-block { padding-right: 32px; }
/* line 45, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.form-group.yo-product-variable > label { font-size: 10px; font-weight: 100; font-family: 'Raleway'; opacity: .54; }

/* line 55, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-size select { border-color: #f67674; }
/* line 61, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-size .custom-radio input:checked ~ label { color: #fff; }
/* line 64, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-size .custom-radio input:checked ~ label::after { background-color: #f67674 !important; }
/* line 68, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-size .custom-radio input ~ label { font-size: 13px; font-weight: 300; font-family: Trueno; font-style: italic; line-height: 36px; text-transform: uppercase; width: 36px; cursor: pointer; color: #a8514d; }
/* line 80, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-size .custom-radio input ~ label.custom-control-label::after, .yo-product-variable.yo-size .custom-radio input ~ label.custom-control-label::before { border-color: #f67674 !important; background-color: transparent; }
/* line 90, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color { position: relative; }
/* line 95, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color .custom-radio input:checked ~ label::after { transform: scale(1.2); border-color: #f67674 !important; }
/* line 101, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color .custom-radio input ~ label::after { transform-origin: center; transform: scale(1); }
/* line 107, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color .custom-radio input ~ label.custom-control-label::before { background-color: inherit; }
/* line 114, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color input ~ label, .yo-product-variable.yo-color .color, .yo-product-variable.yo-color a.variable-action { width: 36px; height: 36px; border-radius: 50%; cursor: pointer; }
/* line 120, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color .color { padding: 0; margin-right: 8px; }
/* line 123, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color .color > i.fa, .yo-product-variable.yo-color .color > a { background-color: transparent; line-height: 36px; width: 36px; border-radius: 50%; transform-origin: center; opacity: 0; transition: opacity .2s; text-align: center; display: inline-block; }
/* line 136, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color .color:not(.disabled):not([disabled]):hover > i.fa, .yo-product-variable.yo-color .color:not(.disabled):not([disabled]):hover > a { transition-delay: .13s; transform: scale(1.05); background-color: rgba(255, 255, 255, 0.68); opacity: 1; }
/* line 145, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color .color.disabled > i.fa, .yo-product-variable.yo-color .color.disabled > a, .yo-product-variable.yo-color .color[disabled] > i.fa, .yo-product-variable.yo-color .color[disabled] > a { display: none; }
/* line 151, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color a.variable-action { background-color: var(--primary26); color: var(--primary-dark); line-height: 36px; margin-left: 16px; transition: .2s; text-align: center; width: auto !important; min-width: 36px; border-radius: 36px !important; padding: 0 8px; }
/* line 162, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable.yo-color a.variable-action:hover { text-decoration: none; box-shadow: 0 0 0 0.5rem var(--primary12); }
/* line 169, ../../../_dev/sass/yo-styles/components/inputs/_product-variables.scss */
.yo-product-variable input[type="radio"]:focus, .yo-product-variable input[type="radio"]:checked:focus ~ label::before { outline: none !Important; /*margin-left:22px;*/ border-color: inherit; -webkit-box-shadow: none; box-shadow: none !Important; }

/* line 2, ../../../_dev/sass/yo-styles/components/inputs/_payment-options.scss */
.yo-payment-type .nav-item .nav-link { position: relative; border-radius: 6px; }
/* line 6, ../../../_dev/sass/yo-styles/components/inputs/_payment-options.scss */
.yo-payment-type .nav-item .nav-link.active { background-color: rgba(246, 118, 116, 0.12); color: #b11d1a; }

/* line 13, ../../../_dev/sass/yo-styles/components/inputs/_payment-options.scss */
input[type=radio].radio-tab { opacity: 0; cursor: pointer; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* line 2, ../../../_dev/sass/yo-styles/components/inputs/_product-quantity.scss */
.yo-quantity-changer input[type=number] { max-width: 48px !important; }
/* line 5, ../../../_dev/sass/yo-styles/components/inputs/_product-quantity.scss */
.yo-quantity-changer input[type=number]::-webkit-inner-spin-button, .yo-quantity-changer input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
/* line 12, ../../../_dev/sass/yo-styles/components/inputs/_product-quantity.scss */
.yo-quantity-changer a:hover { text-decoration: none; }

/* line 1, ../../../_dev/sass/yo-styles/components/inputs/_product_images.scss */
.product-image-list { min-height: 240px; }
/* line 4, ../../../_dev/sass/yo-styles/components/inputs/_product_images.scss */
.product-image-list .image-list { height: 200px; }
/* line 7, ../../../_dev/sass/yo-styles/components/inputs/_product_images.scss */
.product-image-list .image-list img { object-fit: cover; height: 100%; width: 100%; }

/* NEW Design */

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}



/* Padding top bottom css */

.pd5 
{
  padding: 5px !important;
}

.pd10 
{
  padding: 10px !important;
}

.pd15 
{
  padding: 15px !important;
}

.pd20 
{
  padding: 20px !important;
}

.pd25 
{
  padding: 25px !important;
}

.pd30 
{
  padding: 30px !important;
}

.pd35 
{
  padding: 35px !important;
}

.pd40 
{
  padding: 40px !important;
}

.pd45 
{
  padding: 45px !important;
}

.pd50 
{
  padding: 50px !important;
}

/* padding left right css */

.pl10
{
  padding-left:10px;
}

.pl20
{
  padding-left:20px;
}

.pl30
{
  padding-left: 30px;
}

.pl40
{
  padding-left: 40px;
}

.pl50
{
  padding-left: 50px;
}

.pr10
{
  padding-right:10px;
}

.pr20
{
  padding-right:20px;
}

.pr30
{
  padding-right:30px;
}

.pr40
{
  padding-right:40px;
}

.pr50
{
  padding-right: 50px;
}


/* Padding top css */

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60
{
  padding-top: 60px;
}

.pt70
{
  padding-top: 70px;
}

.pt80
{
  padding-top: 80px;
}

.pt90
{
  padding-top:90px; 
}

.pt100 {
  padding-top: 100px !important;
}

/* Padding bottom css */

.pb10 
{
  padding-bottom: 10px;
}

.pb20 
{
  padding-bottom: 20px;
}

.pb30 
{
  padding-bottom: 30px;
}

.pb40 
{
  padding-bottom: 40px;
}

.pb50 
{
  padding-bottom: 50px;
}

.pb60 
{
  padding-bottom: 60px;
}

.pb70 
{
  padding-bottom: 70px;
}

.pb80 
{
  padding-bottom: 80px;
}

.pb90 
{
  padding-bottom: 90px;
}

.pb100
{
  padding-bottom: 100px;
}

/* Margin Top Css */

.mt10
{
  margin-top: 10px;
}

.mt20
{
  margin-top: 20px;
}

.mt30
{
  margin-top: 30px;
}

.mt40
{
  margin-top: 40px;
}

.mt50
{
  margin-top: 50px;
}

.mt60
{
  margin-top: 60px;
}

.mt70
{
  margin-top: 70px;
}

.mt80
{
  margin-top: 80px;
}

.mt90
{
  margin-top: 90px;
}

.mt100
{
  margin-top: 100px;
}


/* Margin Bottom Css */

.mb10
{
  margin-bottom: 10px;
}

.mb20
{
  margin-bottom: 20px;
}

.mb30
{
  margin-bottom:30px;
}

.mb40
{
  margin-bottom: 40px;
}

.mb50
{
  margin-bottom:50px;
}

.mb60
{
  margin-bottom:60px;
}

.mb70
{
  margin-bottom:70px;
}

.mb80
{
  margin-bottom:80px;
}

.mb90
{
  margin-bottom:90px;
}

.mb100
{
  margin-bottom:100px;
}


/* Cart Panel Content Css */

.cart-wrapper
{
  
  padding-bottom: 40px;
}

.cart-content-panel
{
  position: relative;
}

.cart-content-panel .cart-panel-heading
{
  background: #f1f1f1;
  padding:10px;
  border:1px solid #e3e3e3;
}

.cart-content-panel .cart-panel-heading h3
{
  font-size: 18px;
  margin:0;
  font-family: 'Roboto', sans-serif;
  color:#000;
}

.cart-content-panel .cart-panel-content
{
  padding:20px;
  background: #fff;
  border-left:1px solid #e3e3e3;
  border-bottom:1px solid #e3e3e3;
  border-right:1px solid #e3e3e3;
}

.cart-content-panel .cart-panel-content .cart-img
{
  width:150px;
  height:189px;
background: #2a394c;
background-repeat:no-repeat;
background-size:cover;
}

.cart-content-panel .cart-panel-content .cart-img-inner
{
  width:126px;
  height:137px;
  background: #2a394c;
}

.cart-content-panel .cart-panel-content .cart-item
{
  border-bottom:1px solid #e3e3e3;
  padding-bottom: 20px;
}

.cart-item-name h2
{
  font-size: 24px;
  color:#000;
}

.cart-item-content p
{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.cart-option ul li a.circle
{
  height:36px;
  width:36px;
  background: #eeeeee;
  line-height: 36px;
  text-align: center;
  display: block;
border-radius: 50px;
overflow:hidden;
}

.cart-option ul li a.circle:hover
{
  width:auto;
  border-radius: 50px;
padding:0 10px;
color:#fff;
}

.cart-option ul li:hover a.circle
{
  background: #fb6c6a;
}

.cart-option ul li:hover a.circle > i
{
  color:#fff;
}


.cart-option ul li a.circle > i
{
  color:#000;
}

.cart-item-total h4
{
  color:#fb6c6a;
  margin:0;
  font-weight: 600;
}

.select-quantity span
{
  font-weight: 600;
  color:#000;
}

.select-quantity .quantity-dropdown select
{
  border:1px solid #000;
  width:40px;
}

.checkout-items p > span
{
  color:#000;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.checkout-items a.btn-checkout
{
  display: block;
  background: #fb6c6a;
  color:#fff;
  text-transform: uppercase;
  font-size:24px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  border-radius: 0;
}

.save-option-list ul li a
{
  display: block;
  padding: 5px 10px;
  border: 1px solid #e3e3e3;
  color:#000;
  font-weight:600;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
}

.save-option-list ul li a span
{
  padding-right:5px;
}

.save-option-list ul li:hover a
{
  background: #fb6c6a;
  border-color: #fb6c6a;
  color:#fff;
}

.save-later-item .cart-item-name h2
{
  font-size:20px;
}

.save-later-item .cart-item-total h4
{
  font-size: 20px;
}
.out-of-stock h3
{
  color:#000;
  font-size:18px;
  font-weight: 600;
}

.out-of-stock h3 > a {
  display: inline-block;
  padding: 5px 10px;
  background: #fb6c6a;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.checkout-items a.btn-continue
{
  display: block;
  background: #fff;
  color:#414141;
  text-transform: uppercase;
  border:1px solid #e3e3e3;
  font-size:22px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  border-radius: 0;
}

.save-later-item .cart-item-content
{
  overflow-y: auto;
  overflow-x: hidden;
  height:90px;
  
} 
.no-item-cart h4
{
    font-size:18px;
    margin-bottom: 20px;
    font-weight: 500;
}

.no-item-cart button.btn-shop-now
{
    background: #fb6c6a;
    color:#fff;
    padding:8px 20px;
    border-radius: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    width:240px;
    text-align: center;
}

.no-item-cart img
{
    margin-bottom: 20px;
}