//Theme colors
$primary: #fa5b58;
$primary-dark: #a4514d;
$secondary: #B7C6CE;
$success: #29af4f;
$info: #94ccd6;
$light: #fff;
$warning: #eb1029;
$danger: #e65f05;
$dark: #1A252F;

//Color variation percentages
$color12: 0.12;
$color26: 0.26;
$color54: 0.54;
$color87: 0.87;

//Product card variables
$border-radius-top: 1rem;
$border-radius-bottom: 4rem;

//Returns a version of the theme color specified with the opacity specified
@function theme_variation($color,$amount)
{
	$lighten_amount: (1-$amount)*27.5%;
	@return lighten($color,$lighten_amount);
}

//Theme colors
$theme-colors: (
  "primary": $primary,
  "primary12": theme_variation($primary,$color12),
  "primary26": theme_variation($primary,$color26),
  "primary54": theme_variation($primary,$color54),
	"primary87": theme_variation($primary,$color87),
	
	"primary-dark": $primary-dark,
  "primary-dark12": theme_variation($primary-dark,$color12),
  "primary-dark26": theme_variation($primary-dark,$color26),
  "primary-dark54": theme_variation($primary-dark,$color54),
	"primary-dark87": theme_variation($primary-dark,$color87),
	
  "secondary": $secondary,
  "secondary12": theme_variation($secondary,$color12),
  "secondary26": theme_variation($secondary,$color26),
  "secondary54": theme_variation($secondary,$color54),
  "secondary87": theme_variation($secondary,$color87),
	
	"success": $success,
  "success12": theme_variation($success,$color12),
  "success26": theme_variation($success,$color26),
  "success54": theme_variation($success,$color54),
  "success87": theme_variation($success,$color87),
	
	"info": $info,
  "info12": theme_variation($info,$color12),
  "info26": theme_variation($info,$color26),
  "info54": theme_variation($info,$color54),
  "info87": theme_variation($info,$color87),
	
	"warning": $warning,
  "warning12": theme_variation($warning,$color12),
  "warning26": theme_variation($warning,$color26),
  "warning54": theme_variation($warning,$color54),
	"warning87": theme_variation($warning,$color87),
	
  "danger": $danger,
  "danger12": theme_variation($danger,$color12),
  "danger26": theme_variation($danger,$color26),
  "danger54": theme_variation($danger,$color54),
	"danger87": theme_variation($danger,$color87),
	
	"light":$light,

  "dark": $dark,
  "dark12": theme_variation($dark,$color12),
  "dark26": theme_variation($dark,$color26),
  "dark54": theme_variation($dark,$color54),
  "dark87": theme_variation($dark,$color87),
);



.product-card{
	border-radius: $border-radius-top $border-radius-top $border-radius-bottom $border-radius-bottom;
}

.search-box{
	select,.btn{
		background-color: theme-color("primary12");
		color: theme-color("primary-dark");
	}
}

.star-rating *
{
	color: theme-color("primary");
}
