.yo-payment-type {
    .nav-item .nav-link {
        position: relative;
        border-radius: 6px;

        &.active {
            background-color: rgba(246,118,116,0.12);
            color: #b11d1a;
        }
    }
}

input[type=radio].radio-tab {
    opacity: 0;

    // &::after {
    //     content: '';
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    // }
}