
.form-group.yo-product-variable {

    &.yo-color, &.yo-size {
        padding-left: 8px;

        > .yo-size-list, > .yo-color-list {
            margin-left: -8px;
        }

        .custom-radio {
            width: 36px;
            margin-right: 6px;
            min-height: 36px;

            input {
                &:checked ~ label {
                    &::after {
                        background-image: none;
                    }
                }

                ~ label.custom-control-label {
                    transition-duration: .2s;

                    &::after, &::before {
                        transition-duration: inherit;
                        top: 0;
                        left: 0;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        z-index: -1;
                        cursor: pointer;
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }
    &.d-inline-block {
        padding-right: 32px;
    }

    >label {
        font-size: 10px;
        font-weight: 100;
        font-family: 'Raleway';
        opacity: .54;
    }
}

.yo-product-variable {
    &.yo-size { 
        select {
            border-color: #f67674;
        }

        .custom-radio {
            input {
                &:checked ~ label {
                    color: #fff;

                    &::after {
                        background-color: #f67674 !important;
                    }
                }
                ~ label {
                    font-size: 13px;
                    font-weight: 300;
                    font-family: Trueno;
                    font-style: italic;
                    line-height: 36px;
                    text-transform: uppercase;
                    width: 36px;
                    cursor: pointer;
                    color: #a8514d;

                    &.custom-control-label {
                        &::after, &::before {
                            border-color: #f67674 !important;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    &.yo-color {
        position: relative;
        .custom-radio {
            input {
                &:checked ~ label {
                    &::after {
                        transform: scale(1.2);
                        border-color: #f67674 !important;
                    }
                }
                ~ label {
                    &::after {
                        transform-origin: center;
                        transform: scale(1);
                    }

                    &.custom-control-label {
                        &::before {
                            background-color: inherit;
                        }
                    }
                }
            }
        }
        input ~ label, .color, a.variable-action {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            cursor: pointer;
        }
        .color {
            padding: 0;
            margin-right: 8px;
            > i.fa, > a {
                background-color: transparent;
                line-height: 36px;
                width: 36px;
                border-radius: 50%;
                transform-origin: center;
                opacity: 0;
                transition: opacity .2s;
                text-align: center;
                display: inline-block;
            }
            &:not(.disabled):not([disabled]){
                &:hover{
                    > i.fa, > a {
                        transition-delay: .13s;
                        transform: scale(1.05);
                        background-color: rgba(255, 255, 255, 0.68);
                        opacity: 1;
                    }
                }
            }
            &.disabled, &[disabled] {
                > i.fa, > a {
                    display: none;
                }
            }
        }

        a.variable-action {
            background-color: var(--primary26);
            color: var(--primary-dark);
            line-height: 36px;
            margin-left: 16px;
            transition: .2s;
            text-align: center;
            width: auto !important;
            min-width: 36px;
            border-radius: 36px !important;
            padding: 0 8px;
            &:hover {
                text-decoration: none;
                box-shadow: 0 0 0 0.5rem var(--primary12);
            }
        }
    }

    input[type="radio"]:focus, 
    input[type="radio"]:checked:focus~label::before {
        outline: none !Important;
        /*margin-left:22px;*/
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none !Important;
    }
}
