.product-image-list {
    min-height: 240px;

    .image-list {
        height: 200px;

        img {
            object-fit:cover;
            height: 100%;
            width: 100%;
        }
    }
}