.yo-quantity-changer {
    input[type=number] {
        max-width: 48px !important;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    a:hover {
        text-decoration: none;
    }
}