.my-searchbar {
    background: #FFFFFF;
	background: rgba(255, 255, 255, 1);
	max-width: 742px;
	height: 3.5rem;
    line-height: 3.5rem;
	border-radius: 8px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;

    @include shadow-xs(0.26);

    >input.form-control {
        font-family: Trueno;
        font-size: 21px;
        color: #A8514D;
        color: rgba(168, 81, 77, 0.31);

        &:focus {
            color: #A8514D;
        }

    }

    >.input-group-prepend {
        .dropdown{
            >.dropdown-menu {
                min-width: 216px;
                background: #fff;
                border-radius: 8px;
            }
            >.dropdown-toggle {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                width: 216px;
                text-transform: uppercase;
                font-family: Trueno;
                font-size: 21px;
                color: rgba(168, 81, 77, 0.54);
                background: #B6C5CD;
                background: rgba(182, 197, 205, 0.12);
                line-height: inherit;

                
            }

            > button {
                padding: 0 0.75rem;
            }
            
        }
    }

    >.input-group-append{
        > button {
            width: 72px;
            background: #F67674;
            background: rgba(246, 118, 116, 0.28);
            color: #A8514D;
            color: rgba(168, 81, 77, 0.54);
            font-size: 26px;
            line-height: inherit;
            padding: 0 0.75rem;
        }
    }

    &._thin {
        max-width: 636px;
        height: 52px;
        flex-grow: 1;
        flex-shrink: 1;
        line-height: 52px;

        >input.form-control {
            min-width: 61px;
            flex-grow: 1;
            flex-shrink: 1;
            font-size: 16px;

            &::placeholder {
                font-size: 16px;
                border: 0;
            }
        }

        >.input-group-prepend {
            .dropdown{
                >.dropdown-menu {
                    min-width: 176px;
                }
                >.dropdown-toggle {
                    max-width: 176px;
                    width: 140px;
                    font-size: 12px;
                }
            }
        }

        >.input-group-append{
            > button {
                width: 52px;
                font-size: 21px;
            }
        }
    }
}
